- data = JSON.load(@task.json)

.row
  .col-12.col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}
    %h4.text-muted= t('network_job.subheader', focal_word: data['focal_word'])

  .col-12.col-md-4.job-header-button
    = link_to t('network_job.download'), view_dataset_task_path(@dataset, @task, template: 'download', format: 'graphml'), class: 'btn btn-secondary'

.row
  .col-12
    %hr

    %script{ type: 'text/javascript' }
      == window.json_data = '#{@task_presenter.json_escaped}';
    .network_graph
      .network_graph_box
        %p ...
