.row
  .col-12.col-md-6
    = form_for :job_params, url: dataset_tasks_path(dataset, class: 'ExportCitationsJob'), method: :post do |f|
      .card.card-body.mb-3
        %h5.card-title= t('export_citations_job.options_label')

        .form-group
          = f.label :format, t('export_citations_job.format')
          = f.select :format, options_for_select(RLetters::Documents::Serializers::Base.available.map { |k| [RLetters::Documents::Serializers::Base.for(k).format, k] }.sort_by(&:first)), {}, class: 'form-control'

      .float-right
        = link_to(t('common.cancel'), dataset, class: 'btn btn-secondary')
        = f.submit class: 'btn btn-primary'
