- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.users_registrations_new')

%h1= t('.header')
%h4.text-muted= t('.subheader')

.row
  .col-6
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true, class: 'needs-validation' }) do |f|
      = render partial: 'bootstrap/form_validation', locals: { object: resource }

      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', required: true, autofocus: true
        .invalid-feedback= t('activerecord.errors.models.user.name.blank')
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', required: true
        .invalid-feedback= t('activerecord.errors.models.user.email.blank')
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', required: true
        .invalid-feedback= t('activerecord.errors.models.user.password.blank')
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', required: true
        .invalid-feedback= t('activerecord.errors.models.user.password_confirmation.blank')

      .card.mb-3
        .card-body
          %h5.card-title= t('devise.registrations.edit.settings')

          .form-group
            = f.label :language
            = f.select :language, options_for_select(I18n.available_locales.translated, resource.language), {}, class: 'form-control'
          .form-group
            = f.label :timezone
            = f.time_zone_select :timezone, nil, { default: resource.timezone }, class: 'form-control'

      = f.submit t('.submit'), class: 'btn btn-primary'
