.row
  .col-md-6
    = simple_form_for :job_params, url: dataset_tasks_path(@dataset, class: 'Network'), method: :post do |f|
      = f.error_notification

      = field_set_tag t('jobs.analysis.network.options_label') do
        = f.input :word, label: I18n.t('jobs.analysis.network.word')
        = f.button :submit
        = link_to(t('common.cancel'), @dataset, class: 'btn btn-default')
