- data = JSON.load(@task.result.file_contents(:original))

.row
  .col-md-8
    %h1= t('jobs.analysis.craig_zeta.header', name_1: data['name_1'], name_2: data['name_2'])
    %h4.text-muted= t('jobs.analysis.craig_zeta.subheader')
  .col-md-4.job-header-button= link_to t('common.download_csv'), dataset_analysis_task_path(@dataset, @task, view: 'download', format: 'csv'), class: 'btn btn-default'

.row
  .col-xs-12
    %hr

    %h5= t('jobs.analysis.craig_zeta.graph_header')
    %p= t('jobs.analysis.craig_zeta.graph_explanation')

    #cz-dataset-one= data['name_1']
    #cz-dataset-two= data['name_2']

    #cz-graph-data= data['graph_points'].to_json
    #cz-graph

    %hr

    %h5= t('jobs.analysis.craig_zeta.zeta_score_header')
    %p= t('jobs.analysis.craig_zeta.zeta_score_explanation', name_1: data['name_1'], name_2: data['name_2'])

    #cz-table-data= data['zeta_scores'].to_a.to_json
    #cz-table
