- content_for :javascript do
  = javascript_include_tag 'https://www.google.com/jsapi'
  = javascript_include_tag 'craig_zeta'

- data = JSON.load(@task.result.file_contents(:original))

.row
  .large-8.columns
    %h2== Comparison of #{data['name_1']} with #{data['name_2']}
    %h4.subheader Craig Zeta algorithm)
  .large-4.columns.job-header-button= link_to 'Download in CSV format', { controller: 'datasets', action: 'task_view', id: @dataset.to_param, task_id: @task.to_param, view: 'download', format: 'csv' }, class: 'button secondary expand'

.row
  .small-12.columns
    %hr

    #cz-graph-data= data['graph_points'].to_json
    #cz-graph

    %hr

    #cz-table-data= data['zeta_scores'].to_a.to_json
    #cz-table
