- data = JSON.load(@task.json)
- entities = data['data']

.row
  .col-12.col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}
    %h4.text-muted= t('named_entities_job.subheader')
  .col-12.col-md-4.job-header-button= link_to t('common.download_csv'), task_download_path(task: @task, content_type: 'text/csv'), class: 'btn btn-secondary'

.row
  .col-12
    %hr

    #accordion
      - if entities['PERSON']
        .card
          .card-header#heading1
            %h5.mb-0
              %button.btn.btn-link{ data: { toggle: 'collapse', target: '#collapse1' }, aria: { expanded: 'true', controls: 'collapse1' } }= t('named_entities_job.people_category')

          .collapse.show#collapse1{ aria: { labelledby: 'heading1' }, data: { parent: '#accordion' } }
            .card-body
              %ul
                - entities['PERSON'].uniq.sort.each do |p|
                  %li= link_to p, t('named_entities_job.wikipedia_link', query: CGI.escape(p))

      - if entities['ORGANIZATION']
        .card
          .card-header#heading2
            %h5.mb-0
              %button.btn.btn-link{ data: { toggle: 'collapse', target: '#collapse2' }, aria: { expanded: 'false', controls: 'collapse2' } }= t('named_entities_job.organization_category')

          .collapse#collapse2{ aria: { labelledby: 'heading2' }, data: { parent: '#accordion' } }
            .card-body
              %ul
                - entities['ORGANIZATION'].uniq.sort.each do |o|
                  %li= link_to o, t('named_entities_job.wikipedia_link', query: CGI.escape(o))

      - if entities['LOCATION']
        .card
          .card-header#heading3
            %h5.mb-0
              %button.btn.btn-link{ data: { toggle: 'collapse', target: '#collapse3' }, aria: { expanded: 'false', controls: 'collapse3' } }= t('named_entities_job.location_list')

          .collapse#collapse3{ aria: { labelledby: 'heading3' }, data: { parent: '#accordion' } }
            .card-body
              %ul
                - entities['LOCATION'].uniq.sort.each do |l|
                  %li= link_to l, t('named_entities_job.wikipedia_link', query: CGI.escape(l))

      - unless entities.reject { |c| %w{PERSON ORGANIZATION LOCATION}.include?(c) }.empty?
        .card
          .card-header#heading4
            %h5.mb-0
              %button.btn.btn-link{ data: { toggle: 'collapse', target: '#collapse4' }, aria: { expanded: 'false', controls: 'collapse4' } }= t('named_entities_job.other_category')

          .collapse#collapse4{ aria: { labelledby: 'heading4' }, data: { parent: '#accordion' } }
            .card-body
              - entities.reject { |c| %w{PERSON ORGANIZATION LOCATION}.include?(c) }.each do |c|
                %p.card-text
                  %strong= c
                %ul
                  - c.uniq.sort.each do |o|
                    %li= link_to o, t('named_entities_job.wikipedia_link', query: CGI.escape(o))
