.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon(dismiss: 'modal')

    - if current_user.datasets.blank?
      .modal-body
        %p= t('.no_datasets')
    - else
      = form_tag dataset_path(current_user.datasets.first), method: :patch, id: "add-form-#{document.uid.html_id}" do
        = hidden_field_tag :uid, document.uid
        .modal-body
          .form-group
            = label_tag :dataset_id, Dataset.model_name.human
            = select_tag :dataset_id, options_from_collection_for_select(current_user.datasets, 'to_param', 'name'), class: 'form-control search-add-select'

        .modal-footer
          %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
          = submit_tag t('.submit'), class: 'btn btn-success'
