- unless document.title.blank?
  %h5= document.title
- else
  %h5= t('.untitled')
%p
  - unless document.authors.blank?
    = document.authors
    = ' | '
  - unless document.journal.blank?
    %em= "#{document.journal}, "
  - unless document.volume.blank?
    = t('.volume_abbr', volume: document.volume) + ','
  - unless document.number.blank?
    = t('.number_abbr', number: document.number)
  - unless document.year.blank?
    = "(#{document.year}),"
  - unless document.pages.blank?
    = t('.pages_abbr', pages: document.pages)
