%h5
  - if document.title
    = document.title
  - else
    = t('.untitled')
%p
  - if document.authors
    = document.authors
    = ' | '
  - if document.journal
    %em= "#{document.journal}, "
  - if document.volume
    = t('.volume_abbr', volume: document.volume) + ','
  - if document.number
    = t('.number_abbr', number: document.number)
  - if document.year
    = "(#{document.year}),"
  - if document.pages
    = t('.pages_abbr', pages: document.pages)
