%h5
  - if document.title.present?
    = document.title
  - else
    = t('.untitled')

  - if document.fulltext_url
    %span.icon.fi-upload-cloud.has-tip{ data: { tooltip: true }, title: t('.cloud_tooltip') }
%p
  - if document.authors.present?
    = document.authors
    = ' | '
  - if document.journal.present?
    %em= "#{document.journal}, "
  - if document.volume.present?
    = t('.volume_abbr', volume: document.volume) + ','
  - if document.number.present?
    = t('.number_abbr', number: document.number)
  - if document.year.present?
    = "(#{document.year}),"
  - if document.pages.present?
    = t('.pages_abbr', pages: document.pages)
