- if user_signed_in?
  .row
    .small-6.columns= link_to t('.single_dataset'), new_dataset_path(q: "uid:\"#{document.uid}\"", defType: 'lucene', fq: nil), data: { reveal_id: "single-#{document.html_uid}-modal", reveal_ajax: 'true' }, class: 'button success small expand'
    .small-6.columns= link_to t('.add_to_dataset'), search_add_path(uid: document.uid), data: { reveal_id: "add-#{document.html_uid}-modal", reveal_ajax: 'true' }, class: 'button success small expand'
    .reveal-modal{ id: "single-#{document.html_uid}-modal"}
      .preloader
    .reveal-modal{ id: "add-#{document.html_uid}-modal" }
      .preloader

- if document.doi
  .row
    .small-6.columns= link_to t('.journal'), "http://dx.doi.org/#{document.doi}", class: 'button primary small expand'

.row
  .small-6.columns
    %strong= t('.library')
    %ul.no-bullet
      - if user_signed_in?
        - current_user.libraries.each do |library|
          %li= link_to t('.yours') + ' ' + library.name, "#{library.url}#{document.to_openurl_params}"
      %li= link_to t('.worldcat'), "http://worldcatlibraries.org/registry/gateway?#{document.to_openurl_params}"
      %li= link_to t('.uk_openurl'), "http://openurl.ac.uk/?#{document.to_openurl_params}"
  .small-6.columns
    %strong= t('.online')
    %ul.no-bullet
      %li= link_to t('.google'), "http://scholar.google.com/scholar?q=#{CGI.escape(document.title)}"
      - unless Setting.mendeley_key.blank?
        %li= link_to t('.mendeley'), mendeley_redirect_path(uid: document.uid)
      %li= link_to t('.citeulike'), citeulike_redirect_path(uid: document.uid)

.row
  .small-12.columns
    %p.document-details
      - if document.doi
        %small= link_to "DOI: #{document.doi}", "http://dx.doi.org/#{document.doi}"
        %br
      - if document.license_url
        %small= link_to t('.license', license: document.license || t('.no_license')), document.license_url
      - else
        %small= t('.license', license: document.license || t('.no_license'))
