- if user_signed_in?
  %li.dropdown-header{ role: 'presentation' }= t('.dataset_header')
  %li{ role: 'presentation' }= link_to t('.single_dataset'), new_dataset_path(q: "uid:\"#{document.uid}\"", def_type: 'lucene', fq: nil), class: 'ajax-modal', id: "single-#{document.uid.html_id}"
  %li{ role: 'presentation' }= link_to t('.add_to_dataset'), '#', data: { toggle: 'modal', target: "#add-#{document.uid.html_id}-modal" }

  %li.divider{ role: 'presentation' }

- if document.doi
  %li{ role: 'presentation' }= link_to t('.journal'), "http://dx.doi.org/#{document.doi}"
  %li.divider{ role: 'presentation' }

%li.dropdown-header{ role: 'presentation' }= t('.library')

- if user_signed_in?
  - current_user.libraries.each do |library|
    %li{ role: 'presentation' }= link_to t('.yours') + ' ' + library.name, "#{library.url}#{RLetters::Documents::AsOpenURL.new(document).params}"
%li{ role: 'presentation' }= link_to t('.worldcat'), "http://worldcatlibraries.org/registry/gateway?#{RLetters::Documents::AsOpenURL.new(document).params}"
%li{ role: 'presentation' }= link_to t('.uk_openurl'), "http://openurl.ac.uk/?#{RLetters::Documents::AsOpenURL.new(document).params}"
%li.divider{ role: 'presentation' }

%li.dropdown-header{ role: 'presentation' }= t('.online')

- if document.title
  %li{ role: 'presentation' }= link_to t('.google'), "http://scholar.google.com/scholar?q=#{CGI.escape(document.title)}"
- if Admin::Setting.mendeley_key.present?
  %li{ role: 'presentation' }= link_to t('.mendeley'), documents_mendeley_path(document.uid)
%li{ role: 'presentation' }= link_to t('.citeulike'), documents_citeulike_path(document.uid)

%li.divider{ role: 'presentation' }
%li.dropdown-header{ role: 'presentation' }= t('.details_header')

- if document.doi
  %li.small{ role: 'presentation' }= link_to "DOI: #{document.doi}", "http://dx.doi.org/#{document.doi}"
- if document.license_url
  %li.small{ role: 'presentation' }= link_to t('.license', license: document.license || t('.no_license')), document.license_url
- else
  %li.dropdown-header{ role: 'presentation' }= t('.license', license: document.license || t('.no_license'))
- if document.data_source
  %li.dropdown-header{ role: 'presentation' }= t('.data_source', source: document.data_source)

- if user_signed_in?
  - content_for :modal do
    .modal.fade{ id: "add-#{document.uid.html_id}-modal", tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }= render partial: 'add', locals: { document: document }
