%table.table.table-striped.document-list
  - @result.documents.each do |d|
    %tr
      %td
        %abbr{ class: 'unapi-id', title: d.uid }= ''

        .dropdown.float-right
          %button.btn.btn-outline-secondary.btn-sm.ml-1.mb-1.dropdown-toggle{ type: 'button', id: "drop-#{d.uid.html_id}", data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
            = t('search.index.dropdown_button')
          .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "drop-#{d.uid.html_id}" } }
            = render partial: 'dropdown', locals: { document: d }

        = render partial: 'document', locals: { document: d }

        -# The modal dialog box for adding this document to an existing dataset
        -# needs to be outside the dropdown menu
        - if user_signed_in?
          -# FIXME this should probably have the fade class?
          .modal{ id: "add-#{d.uid.html_id}-modal", tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }= render partial: 'add', locals: { document: d }

  - if @result_presenter.next_page_params(params)
    %tr
      %td.text-center
        = link_to t('search.index.more_hits'), url_for(@result_presenter.next_page_params(params)), class: 'jscroll-next'
