%h4= t('.header')
%h6.subheader= t('.subheader')

- unless @datasets.count
  %p= t('.no_datasets')
- else
  #add-form-modal
    = form_tag add_to_datasets_path, method: :get, class: 'custom' do
      = hidden_field_tag :uid, @document.uid
      .row
        .large-6.columns
          = label_tag :dataset_id, Dataset.model_name.human
          = select_tag :dataset_id, options_from_collection_for_select(@datasets, 'to_param', 'name')
      .row
        .large-6.columns= submit_tag t('.submit'), class: 'button success small'

  :javascript
    if (typeof $ !== 'undefined') { $('#add-form-modal').foundation('forms'); }

%a.close-reveal-modal &#215;
