- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li.breadcrumb-item= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li.breadcrumb-item= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li.breadcrumb-item= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.breadcrumb-item= link_to t('breadcrumbs.search_index'), search_path
  %li.breadcrumb-item.active= t('breadcrumbs.search_advanced')

.row
  .col-6
    %h1= t('.header')
    %h4.text-muted= t_md('.subheader_markdown')

.row
  .col-12
    &nbsp;

.row
  .col-12.col-md-10.offset-md-1
    = form_tag search_path, method: 'get', role: 'form' do
      = hidden_field_tag :advanced, true
      = javascript_tag("window.rlRowMarkup = '#{j render(partial: 'advanced_row', locals: { fields: @search_fields })}';", nonce: true)

      #advanced-rows
        = render partial: 'advanced_row', locals: { fields: @search_fields }

      .form-group
        = submit_tag t('.search_button'), class: 'btn btn-primary'

.row.advanced-solr
  .col-12.col-md-10.offset-md-1
    %button.btn.btn-secondary.btn-sm{ type: 'button', data: { toggle: 'collapse', target: '#solr-collapse' }, aria: { expanded: 'false', controls: 'solr-collapse' } }= t('.solr_header')

    .collapse#solr-collapse
      .card.card-body
        = form_tag search_path, method: 'get' do
          = hidden_field_tag :advanced, true

          .form-group
            = label_tag :q, t('.solr_label'), class: 'sr-only'
            = text_area_tag(:q, nil, escape: false, class: 'form-control')

          .form-group
            = submit_tag t('.solr_button'), class: 'btn btn-primary'
