- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li= link_to t('breadcrumbs.search_index'), search_path
  %li.current= link_to t('breadcrumbs.search_advanced'), search_advanced_path

%section.main
  %header
    %h2= t('.header')
    %h4.subheader= t_md('.subheader_markdown')

.row
  .large-12.columns
    %h4= t('.search_header')

    = form_tag search_path, method: 'get' do
      = hidden_field_tag :precise, true

      .row
        .large-6.columns
          = label_tag(:fulltext, Document.human_attribute_name('fulltext'))
          = text_field_tag(:fulltext)
        .large-6.columns.advanced-shift
          = label_tag(:fulltext_type_fuzzy) do
            = radio_button_tag(:fulltext_type, 'fuzzy', true)
            = t('.type_fuzzy')
          = label_tag(:fulltext_type_exact) do
            = radio_button_tag(:fulltext_type, 'exact', false)
            = t('.type_exact')

      .row
        .small-6.columns
          = label_tag :authors, Document.human_attribute_name('authors')
          = text_field_tag :authors, nil, placeholder: t('.authors_placeholder')

      .row
        .large-6.columns
          = label_tag :title, Document.human_attribute_name('title')
          = text_field_tag :title
        .large-6.columns.advanced-shift
          = label_tag(:title_type_fuzzy) do
            = radio_button_tag(:title_type, 'fuzzy', true, id: :title_type_fuzzy)
            = t('.type_fuzzy')
          = label_tag(:title_type_exact) do
            = radio_button_tag(:title_type, 'exact', false, id: :title_type_exact)
            = t('.type_exact')

      .row
        .large-6.columns
          = label_tag :journal, Document.human_attribute_name('journal')
          = text_field_tag(:journal)
        .large-6.columns.advanced-shift
          = label_tag(:journal_type_fuzzy) do
            = radio_button_tag(:journal_type, 'fuzzy', true, id: :journal_type_fuzzy)
            = t('.type_fuzzy')
          = label_tag(:journal_type_exact) do
            = radio_button_tag(:journal_type, 'exact', false, id: :journal_type_exact)
            = t('.type_exact')

      .row
        .large-6.columns
          = label_tag :year_ranges, t('.year_ranges')
          = text_field_tag(:year_ranges, nil, placeholder: t('.year_ranges_placeholder'))

      .row
        .large-6.columns
          = label_tag :volume, Document.human_attribute_name('volume')
          = text_field_tag(:volume)

          = label_tag :number, Document.human_attribute_name('number')
          = text_field_tag(:number)

          = label_tag :pages, Document.human_attribute_name('pages')
          = text_field_tag(:pages, nil, placeholder: t('.pages_placeholder'))

          = submit_tag t('.search_button'), class: 'button'

.row
  .large-6.columns
    %hr

    %h4= t('.solr_header')

    = form_tag search_path, method: 'get' do
      = hidden_field_tag :precise, true

      = label_tag :q, t('.solr_label')
      = text_area_tag(:q, nil, { escape: false })

      = submit_tag t('.solr_button'), class: 'button'
