- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li= link_to t('breadcrumbs.search_index'), search_path
  %li.active= t('breadcrumbs.search_advanced')

.row
  .col-6
    %h1= t('.header')
    %h4.text-muted= t_md('.subheader_markdown')

.row
  .col-12
    &nbsp;

.row
  .col-12.col-md-10.offset-md-1
    = form_tag search_path, method: 'get', role: 'form' do
      = hidden_field_tag :advanced, true

      %script{ type: 'text/javascript' }
        == window.rlRowMarkup = '#{escape_javascript(render(partial: "advanced_row"))}';

      #advanced-rows
        = render partial: 'advanced_row'

      .form-group
        = submit_tag t('.search_button'), class: 'btn btn-primary'

.row.advanced-solr
  .col-12.col-md-10.offset-md-1
    .panel-group#solr-accordion{ role: 'tablist' }
      .panel.panel-default
        .panel-heading#solr-heading{ role: 'tab' }
          %h4.panel-title
            %a{ href: '#solr-collapse', data: { toggle: 'collapse', parent: '#solr-accordion' }, aria: { expanded: 'true', controls: 'solr-collapse' } }= t('.solr_header')
        .panel-collapse.collapse#solr-collapse{ role: 'tabpanel', aria: { labelledby: 'solr-heading' } }
          .panel-body
            = form_tag search_path, method: 'get' do
              = hidden_field_tag :advanced, true

              .form-group
                = label_tag :q, t('.solr_label'), class: 'sr-only'
                = text_area_tag(:q, nil, escape: false, class: 'form-control')

              .form-group
                = submit_tag t('.solr_button'), class: 'btn btn-primary'
