- content_for :head_tags do
  %link{ rel: 'unapi-server', type: 'application/xml', title: 'unAPI', href: unapi_url }/
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.current= link_to t('breadcrumbs.search_index'), search_path

.row
  .small-12.columns
    &nbsp;
.row
  .small-12.large-9.columns
    = form_tag(search_path, method: :get, id: 'search_form') do
      - if result.params['fq']
        - [result.params['fq']].flatten.each do |p|
          = hidden_field_tag "fq[]", p
      .row
        .small-12.columns
          = search_field_tag :q, (params[:precise] ? t('.adv_search_placeholder') : params[:q]), placeholder: t('.placeholder')
          %ul.button-group.even-2
            %li= link_to(result.sort, '#', class: 'button secondary dropdown small', 'data-dropdown' => 'sort-dropdown')
            - if user_signed_in?
              %li= link_to t('.create_dataset'), new_dataset_path(q: result.params['q'], def_type: result.params['defType'], fq: result.params['fq']), class: 'button success small', data: { reveal_id: 'new-modal', reveal_ajax: 'true' }
            - else
              %li= link_to t('.create_dataset'), '#', class: 'button success small disabled'
          %ul#sort-dropdown.f-dropdown{ data: { dropdown_content: true } }
            - result.sort_methods.each do |(param, desc)|
              %li= link_to desc, search_path(params.merge({ sort: param }))

    %dl.sub-nav
      %dt= result.num_hits
      = result.filter_removal_links

    .pagination-centered= result.pagination
    %table.document-list
      - result.documents.each do |d|
        %tr
          %td{ 'data-dropdown' => "drop-#{d.uid.html_id}" }
            %abbr{ class: 'unapi-id', title: d.uid }= ''
            = d.citation
    .pagination-centered= result.pagination

    - result.documents.each do |d|
      %div.f-dropdown.medium.content{ 'data-dropdown-content' => true, id: "drop-#{d.uid.html_id}" }= render partial: 'dropdown', locals: { document: d }

  .small-12.large-3.columns
    .panel
      %h5= t('.filters')
      %ul.side-nav
        - if result.facets
          = result.facets.addition_links
        %li.divider
        - if result.categories
          = result.categories.link_tree

      %p= link_to t('.advanced_search'), search_advanced_path, class: 'button secondary small expand'

#new-modal.reveal-modal{ data: { reveal: true } }
  .preloader
