- content_for :head_tags do
  %link{ rel: 'unapi-server', type: 'application/xml', title: 'unAPI', href: unapi_url }/
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.current= link_to t('breadcrumbs.search_index'), search_path

.row
  .small-12.columns
    &nbsp;
.row
  .small-12.large-9.columns
    = form_tag(search_path, method: :get, id: 'search_form') do
      - if params[:fq]
        - params[:fq].each do |p|
          = hidden_field_tag "fq[]", p
      .row
        .small-12.columns
          = search_field_tag :q, (params[:precise] ? t('.adv_search_placeholder') : params[:q]), placeholder: t('.placeholder')
          %ul.button-group.even-2
            %li= link_to(sort_to_string(@sort), '#', class: 'button secondary dropdown small', 'data-dropdown' => 'sort-dropdown')
            - if user_signed_in?
              %li= link_to t('.create_dataset'), new_dataset_path(q: @solr_q, defType: @solr_defType, fq: @solr_fq), class: 'button success small', data: { reveal_id: 'new-modal', reveal_ajax: 'true' }
            - else
              %li= link_to t('.create_dataset'), '#', class: 'button success small disabled'
          %ul#sort-dropdown.f-dropdown{ data: { dropdown_content: true } }
            - sort_methods.each do |s|
              %li= link_to sort_to_string(s), search_path(params.merge({ sort: s }))

    %dl.sub-nav
      %dt= num_hits_string(@result)
      = active_filter_list(@result)

    .pagination-centered= render_pagination(@result)
    %table.document-list
      - @documents.each do |d|
        %tr
          %td{ 'data-dropdown' => "drop-#{d.html_uid}" }
            %abbr{ class: 'unapi-id', title: d.uid }= ''
            = document_bibliography_entry(d)
    .pagination-centered= render_pagination(@result)

    - @documents.each do |d|
      %div.f-dropdown.medium.content{ 'data-dropdown-content' => true, id: "drop-#{d.html_uid}" }= render partial: 'dropdown', locals: { document: d }

  .small-12.large-3.columns
    .panel
      %h5= t('.filters')
      %ul.side-nav
        = facet_link_list(@result)
        %li.divider
        = journal_category_list

      %p= link_to t('.advanced_search'), search_advanced_path, class: 'button secondary small expand'

#new-modal.reveal-modal{ data: { reveal: true } }
  .preloader
