- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.active= t('breadcrumbs.search_index')

.row
  .col-lg-9.col-sm-7
    = form_tag(search_path, method: :get, role: 'form') do
      - if @result.params['fq']
        - [@result.params['fq']].flatten.each do |p|
          = hidden_field_tag "fq[]", p
      .form-group
        %label.sr-only{ for: 'q' }= t('.placeholder')
        = search_field_tag :q, (params[:advanced] ? t('.adv_search_placeholder') : params[:q]), placeholder: t('.placeholder'), class: 'form-control'

  .col-lg-3.col-sm-5
    .btn-group.btn-group-justified{ role: 'group' }
      .btn-group
        = link_to('#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button') do
          %span.glyphicon.glyphicon-sort{ aria: { hidden: 'true' } }
          = t('.sort')
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          - @result_presenter.sort_methods.each do |(param, desc)|
            %li
              = link_to url_for(params.merge(sort: param).to_h) do
                %span{ style: (param == @result.params['sort'] ? nil : 'visibility: hidden') } &check;
                = desc

      %a.btn.btn-default.collapsed#filters-button{ href: '#', type: 'button', data: { toggle: 'collapse', target: '#filters' } }
        %span.glyphicon.glyphicon-filter{ aria: { hidden: 'true' } }
        = t('.toggle_filters')

      = link_to user_signed_in? ? new_dataset_path(q: @result.params['q'], def_type: @result.params['defType'], fq: @result.params['fq']) : '#', class: "btn btn-success #{user_signed_in? ? 'ajax-modal' : 'disabled'}", id: 'new-dataset' do
        %span.glyphicon.glyphicon-floppy-disk
        = t('.create_dataset')

.row
  .col-sm-12.col-lg-3.col-lg-push-9
    %p.text-center= @result_presenter.num_hits_string

    .well.collapse#filters
      - if @result.facets || Documents::Category.count
        = render partial: 'search/filters'

      .btn-group.btn-group-justified
        = link_to t('.advanced_search'), search_advanced_path, class: 'btn btn-default'

  .col-sm-12.col-lg-9.col-lg-pull-3
    #jscroll= render partial: 'result_table'

%div.text-center#back-to-top
  = link_to t('.back_to_top'), '#', class: 'btn btn-info btn-sm'
