= content_for :head_tags do
  %link{ rel: 'unapi-server', type: 'application/xml', title: 'unAPI', href: unapi_url }/

.row
  .small-12.columns
    &nbsp;
.row
  .small-12.large-9.columns
    = form_tag(search_path, method: :get) do
      - if params[:fq]
        - params[:fq].each do |p|
          = hidden_field_tag "fq[]", p
      .row
        .small-12.columns
          = search_field_tag :q, (params[:precise] ? t('.adv_search_placeholder') : params[:q]), placeholder: t('.placeholder')
          %ul.button-group.radius.even-3
            %li= link_to(sort_to_string(@sort), '#', class: 'button secondary dropdown tiny', 'data-dropdown' => 'sort-dropdown')
            - if current_user.nil?
              %li= link_to t('.login_prompt'), new_user_session_path, class: 'button secondary tiny'
            - else
              %li= link_to t('.create_dataset'), new_dataset_path(q: @solr_q, defType: @solr_defType, fq: @solr_fq), class: 'button success tiny'
            %li= link_to t('.advanced_search'), search_advanced_path, class: 'button secondary tiny'
          %ul#sort-dropdown.f-dropdown{ data: { dropdown_content: true } }
            - sort_methods.each do |s|
              %li= link_to sort_to_string(s), search_path(params.merge({ sort: s }))

    %dl.sub-nav
      %dt= num_hits_string(@result)
      = active_facet_list(@result)

    .pagination-centered= render_pagination(@result)
    %table
      - @documents.each do |d|
        %tr
          %td{ 'data-dropdown' => "drop-#{d.shasum}" }
            %abbr{ class: 'unapi-id', title: d.shasum }= ''
            = document_bibliography_entry(d)
          %div.f-dropdown.medium.content{ 'data-dropdown-content' => true, id: "drop-#{d.shasum}" }= render partial: 'dropdown', locals: { document: d }
    .pagination-centered= render_pagination(@result)

  .small-12.large-3.columns
    .radius.panel
      %h5= t('.filters')
      %ul.side-nav= facet_link_list(@result)
