- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  - if user_signed_in? && current_user.workflow_active
    %l.breadcrumb-item= link_to t('breadcrumbs.workflow_start'), workflow_start_path
    %li.breadcrumb-item= link_to t('breadcrumbs.workflow_info'), workflow_info_path(current_user.workflow_class)
    %li.breadcrumb-item= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(current_user.workflow_class)
  %li.breadcrumb-item.active= t('breadcrumbs.search_index')

.row
  .col-7.col-lg-9
    = form_tag(search_path, method: :get, role: 'form') do
      - if @result.params['fq']
        - [@result.params['fq']].flatten.each do |p|
          = hidden_field_tag "fq[]", p
      .form-group
        %label.sr-only{ for: 'q' }= t('.placeholder')
        = search_field_tag :q, (params[:advanced] ? t('.adv_search_placeholder') : params[:q]), placeholder: t('.placeholder'), class: 'form-control'
      %button.sr-only{ type: 'submit' }= t('.search_button')

  .col-5.col-lg-3
    .btn-group.d-flex{ role: 'group' }
      .btn-group.w-100{ role: 'group' }
        = link_to('#', class: 'btn btn-light w-100 dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' }) do
          %i.fas.fa-sort
          = t('.sort')
        .dropdown-menu
          - @result_presenter.sort_methods.each do |(param, desc)|
            = link_to RLetters::Solr::Search::permit_params(params.merge(sort: param)), class: 'dropdown-item' do
              %span{ style: (param == @result.params['sort'] ? nil : 'visibility: hidden') } &check;
              = desc

      %a.btn.btn-light.w-100.d-lg-none.collapsed#filters-button{ href: '#', role: 'button', data: { toggle: 'collapse', target: '#filters' } }
        %span.glyphicon.glyphicon-filter{ aria: { hidden: 'true' } }
        = t('.toggle_filters')

      = link_to user_signed_in? ? new_dataset_path(q: @result.params['q'], def_type: @result.params['defType'], fq: @result.params['fq']) : '#', class: "btn btn-success w-100 #{user_signed_in? ? 'ajax-modal' : 'disabled'}", id: 'new-dataset' do
        %i.fas.fa-save
        = t('.create_dataset')

.row
  .col-12.col-lg-3.order-lg-last
    %p.text-center= @result_presenter.num_hits_string

    #filters.collapse.d-lg-block.mb-3
      .card.bg-light.card-body
        - if @result.facets || Documents::Category.count
          = render partial: 'search/filters'

        = link_to t('.advanced_search'), search_advanced_path, class: 'btn btn-outline-secondary w-100'

  .col-12.col-lg-9.order-lg-first
    #jscroll= render partial: 'result_table'

%div.text-center#back-to-top
  = link_to t('.back_to_top'), '#', class: 'btn btn-info btn-sm'
