= simple_form_for(@library, url: url) do |f|
  .modal-body
    = f.error_notification

    = f.input :name
    = f.input :url

  .modal-footer
    = f.button :submit
    %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
