= form_for(library, url: url, html: { novalidate: true, class: 'needs-validation' }) do |f|
  .modal-body
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control', required: true, autofocus: true
      .invalid-feedback= validation_errors_for(library, :name, true)
    .form-group
      = f.label :url
      = f.text_field :url, class: 'form-control', required: true
      .invalid-feedback= validation_errors_for(library, :url, true)

  .modal-footer
    %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
    = f.submit class: 'btn btn-primary'
