.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')
      = close_icon(dismiss: 'modal')

    .modal-body
      - if @libraries.empty?
        %p= t('.no_libraries')
      - else
        - @libraries.each do |library|
          = form_tag(libraries_path, method: :post) do
            = hidden_field_tag 'users_library[name]', library[:name]
            = hidden_field_tag 'users_library[url]', library[:url]
            = submit_tag library[:name], class: 'button small secondary'
    .modal-footer
      %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
