.row
  .col-12.col-md-6
    = form_for :job_params, url: dataset_tasks_path(@dataset, class: 'ArticleDatesJob'), method: :post do |f|
      .card.card-body.mb-3
        %h5.card-title= t('article_dates_job.options_label')

        .form-group
          .form-check
            = f.check_box :normalize, class: 'form-check-input'
            = f.label :normalize, t('article_dates_job.checkbox_label'), class: 'form-check-label'

        .form-group.sub-form#normalize_controls{ style: 'display: none;' }
          = f.label :normalization_dataset, t('article_dates_job.dataset_label')
          = f.collection_select :normalization_dataset, current_user.datasets, :to_param, :name, { prompt: t('article_dates_job.all') }, class: 'form-control', disabled: true

      .float-right
        = link_to t('common.cancel'), @dataset, class: 'btn btn-secondary'
        = f.submit class: 'btn btn-primary'
