- data = JSON.load(@task.json)

.row
  .col-12.col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}

    - if data['percent']
      %h4.text-muted= t('article_dates_job.fraction_subheader', name: @dataset.name, normalization_set: data['normalization_set'])
    - else
      %h4.text-muted= t('article_dates_job.number_subheader')

  .col-12.col-md-4.job-header-button
    = link_to t('common.download_csv'), task_download_path(task: @task, content_type: 'text/csv'), class: 'btn btn-secondary'

.row
  .col-12
    %hr

    %script{ type: 'text/javascript' }
      == window.json_data = '#{@task_presenter.json_escaped}';
    .article_dates_graph

    %hr

    .article_dates_table
