- content_for :javascript do
  = javascript_include_tag 'datasets_index'
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.current= link_to t('breadcrumbs.datasets_index'), datasets_path

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

.row
  #dataset-list.small-12.columns{ data: { fetch_url: dataset_list_datasets_path } }= t('.loading_datasets')
