- user_pending_count = Datasets::Task.joins(:dataset).where(finished_at: nil, datasets: { user_id: current_user.to_param }).count
- if user_pending_count > 0
  .alert.alert-warning{ role: 'alert' }= t('.tasks', count: user_pending_count)

%table.table.button-table.table-striped
  %thead
    %tr
      %th.label-cell= t('.name_column')
      %th.button-cell
  %tbody
    - if @datasets.blank?
      %tr
        %td.label-cell= t('.no_datasets')
        %td.button-cell
    - else
      - @datasets.each do |dataset|
        %tr
          %td.label-cell
            = dataset.name
            %span.badge.badge-secondary= dataset.document_count
          %td.button-cell
            = link_to t('.manage_button'), dataset, class: 'btn btn-sm btn-secondary'
            = link_to t('.delete_button'), dataset, method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-sm btn-danger'
