.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %h4.modal-title= t('.header')
      %h6.text-muted= t('.subheader')

      = render partial: 'bootstrap/close_icon', locals: { data: { dismiss: 'modal' } }

    = form_for(@dataset, html: { novalidate: true, class: 'needs-validation' }) do |f|
      .modal-body
        -# Send across the queries currently in effect
        = hidden_field_tag :q, params[:q]
        = hidden_field_tag :def_type, params[:def_type]
        - if params[:fq]
          - [params[:fq]].flatten.each do |fq|
            = hidden_field_tag 'fq[]', fq

        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control', required: true
          .invalid-feedback= t('activerecord.errors.models.dataset.name.blank')

      .modal-footer
        %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
        = f.submit t('.submit'), class: 'btn btn-primary'
