%h4 Create a new dataset
%h6.subheader Give these search results a name, and they will be preserved as a new dataset.

#new-dataset-modal
  = form_for(@dataset) do |f|
    = hidden_field_tag :q, params[:q]
    = hidden_field_tag :defType, params[:defType]
    - if params[:fq]
      - params[:fq].each do |fq|
        = hidden_field_tag 'fq[]', fq

    / FIXME this is bogus do this right
    - if @dataset.errors.any?
      .row
        .small-12.columns
          %strong= t('.errors', count: @dataset.errors.count)
          %ul
            - @dataset.errors.full_messages.each do |msg|
              %li= msg

    .row
      .large-6.columns
        = f.label :name
        = f.text_field :name

    .row
      .large-6.columns= f.submit t('.submit_label'), class: 'button success small'

%a.close-reveal-modal &#215;
