%h4= t('.header')
%h6.subheader= t('.subheader')

.row
  .large-6.columns#new-dataset-modal
    = simple_form_for(@dataset) do |f|
      = hidden_field_tag :q, params[:q]
      = hidden_field_tag :defType, params[:defType]
      - if params[:fq]
        - params[:fq].each do |fq|
          = hidden_field_tag 'fq[]', fq

      = f.input :name
      = f.button :submit

%a.close-reveal-modal &#215;
