- content_for :javascript do
  = javascript_include_tag 'datasets_show'
- content_for :breadcrumbs do
  %li= link_to 'Home', workflow_path
  %li= link_to 'Manage Datasets', datasets_path
  %li.current= link_to "Manage: #{@dataset.name}", @dataset

%header
  %section
    %h2= t('.head') + ' — ' + @dataset.name
    %h4.subheader Manage this dataset, including manually starting analysis tasks and fetching the results of prior analyses.

.row
  .small-12.columns
    = t('.num_entries', count: @dataset.entries.size)
    |
    = t('.created_at', date: @dataset.created_at.to_formatted_s(:long))

.row
  .small-12.columns
    %hr

    %h4 Analysis Tasks

    #dataset-task-list{ data: { fetch_url: task_list_dataset_path(@dataset) } }= t('.loading_tasks')

.row
  .small-12.columns
    %hr

    %h4= t('.new_task')

    - Jobs::Analysis::Base.job_list.reject { |k| !k.available? || (k.num_datasets > current_user.datasets.count) }.each_slice(2) do |a|
      .row
        .large-6.columns= link_to(a[0].t('.short_desc'), { controller: 'datasets', action: 'task_start', id: @dataset.to_param, class: a[0].name.demodulize.to_s }, class: 'button small secondary expand')
        - if a.count > 1
          .large-6.columns= link_to(a[1].t('.short_desc'), { controller: 'datasets', action: 'task_start', id: @dataset.to_param, class: a[1].name.demodulize.to_s }, class: 'button small secondary expand')
