- content_for :javascript, javascript_include_tag('datasets_show')
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li.active= t('breadcrumbs.datasets_show', name: @dataset.name)

%header
  %section
    %h2
      = t('.header') + ' — ' + @dataset.name
      - if @dataset.fetch
        %span.icon.fi-upload-cloud.has-tip{ data: { tooltip: true }, title: t('datasets.index_xhr.cloud_tooltip') }
    %h4.subheader= t('.subheader')

.row
  .small-12.columns
    = t('.num_entries', count: @dataset.entries.size)
    |
    = t('.created_at', date: @dataset.created_at.to_formatted_s(:long))

.row
  .small-12.columns
    %hr

    %h4= t('.tasks')

    #dataset-task-list{ data: { fetch_url: dataset_analysis_tasks_path(@dataset) } }
      .preloader
