- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li.active= t('breadcrumbs.datasets_show', name: @dataset.name)

.row
  .col-sm-12
    %h1
      = t('.header') + ' — ' + @dataset.name
      - if @dataset.fetch
        %span.cloud-tooltip{ data: { toggle: 'tooltip' }, title: t('datasets.index_xhr.cloud_tooltip') }
          %span.glyphicon.glyphicon-cloud
    %h4.text-muted= t('.subheader')

.row
  .col-sm-12
    = t('.num_entries', count: @dataset.entries.size)
    |
    = t('.created_at', date: @dataset.created_at.to_formatted_s(:long))

.row
  .col-sm-12
    %hr

    %h4= t('.tasks')

    #dataset-task-list{ data: { fetch_url: dataset_analysis_tasks_path(@dataset) } }
