- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li= link_to t('breadcrumbs.datasets_show', name: @dataset.name), @dataset
  %li.current= link_to t('breadcrumbs.datasets_task_params'), { controller: 'datasets', action: 'task_start', id: @dataset.to_param, class: params[:class] }

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

= render_job_partial(@klass, 'params')
