.card.mb-3
  .card-body
    %h3.card-title= t('.header')

    %table.table.table-striped.table-sm
      %thead
        %tr
          %th= Dataset.human_attribute_name(:name)
          %th= User.model_name.human
          %th= Dataset.human_attribute_name(:created_at)
      %tbody
        - Dataset.order('created_at desc').limit(5).each do |dataset|
          %tr
            %td= dataset.name
            %td= dataset.user
            %td= dataset.created_at
