.card
  .card-body
    %h3.card-title= t('.header')

    %table.table.table-hover.table-sm
      %thead
        %tr
          %th= t('.variable')
          %th= t('.default')
          %th= t('.value')
      %tbody
        - vars.each do |key, h|
          %tr.table-secondary
            %td{ colspan: '3' }= t(key)
          - h.each do |var, default|
            %tr
              %td= var.to_s
              %td= default
              %td= ENV[var.to_s]
