= simple_form_for(@item, as: 'item', url: url, method: method) do |f|
  = f.error_notification

  - @model.admin_attributes.each do |attrib, config|
    - next if config[:no_form]
    - if config[:model]
      = f.input "#{attrib}_id", collection: @model.reflect_on_association(attrib).class_name.constantize.all, label_method: :to_s, value_method: :to_param
    - elsif config[:form_options]
      = f.input attrib, config[:form_options]
    - else
      = f.input attrib

  = f.button :submit, class: 'btn-success'
  - if cancel_url
    = link_to t('common.cancel'), cancel_url, class: 'btn btn-default'
