= simple_form_for(@item, as: 'item', url: url, method: method) do |f|
  = f.error_notification

  - @model.admin_attributes.each do |attrib, config|
    - next if config[:no_form]
    - if config[:model]
      = f.input "#{attrib}_id", collection: @model.reflect_on_association(attrib).class_name.constantize.all, label_method: :to_s, value_method: :to_param, required: false
    - elsif config[:array]
      = f.input attrib, as: :array, required: false
    - elsif config[:form_options]
      - opts = config[:form_options].is_a?(Hash) ? config[:form_options] : config[:form_options].call(@item)
      = f.input attrib, opts.merge(required: false)
    - else
      = f.input attrib, required: false

  = f.button :submit, class: 'btn-success'
  - if cancel_url
    = link_to t('common.cancel'), cancel_url, class: 'btn btn-secondary'
