%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to t('admin.index.header', app_name: ENV['APP_NAME']), admin_path, class: 'navbar-brand'

  %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#main-nav-collapse' }, aria: { controls: 'main-nav-collapse', expanded: 'false', label: 'Toggle navigation' } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#main-nav-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      %li.nav-item.dropdown
        = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
          = t('admin.nav.content')
        .dropdown-menu
          = link_to Documents::Category.model_name.human(count: 100), categories_path, class: 'dropdown-item'
          = link_to Documents::StopList.model_name.human(count: 100), stop_lists_path, class: 'dropdown-item'

      %li.nav-item.dropdown
        = link_to '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
          = t('admin.nav.branding')
        .dropdown-menu
          = link_to Admin::MarkdownPage.model_name.human(count: 100), '#', class: 'dropdown-item'
          = link_to Admin::UploadedAsset.model_name.human(count: 100), assets_path, class: 'dropdown-item'

    %ul.navbar-nav.mt-2.mt-lg-0
      %li.nav-item= link_to t('layouts.nav.sign_out'), admin_logout_path, method: :delete, class: 'nav-link'
