.card.mb-3
  .card-body
    %h3.card-title= t('.header')

    %table.table.table-striped.table-sm
      %thead
        %tr
          %th= Datasets::Task.human_attribute_name(:name)
          %th= Datasets::Task.human_attribute_name(:job_type)
          %th= Dataset.model_name.human
          %th= t('.status')
      %tbody
        - Datasets::Task.order('created_at desc').limit(10).each do |task|
          %tr
            %td= task.name
            %td= task.job_type
            %td= task.dataset.name
            %td
              - if task.failed
                = t('.status_failed')
              - elsif task.finished_at
                = t('.status_finished')
              - else
                = t('.status_working')
