= render partial: 'collection_header'

.row
  .col-sm-12
    %table.table.button-table.table-condensed
      %thead
        %tr
          - unless @model.admin_configuration[:no_delete]
            %th.button-cell
          - @model.admin_attributes.each do |attrib, config|
            - next if config[:no_display]
            %th= @model.human_attribute_name(attrib)
          %th.button-cell
      %tbody
        - @collection.each do |item|
          %tr
            - unless @model.admin_configuration[:no_delete]
              %td.button-cell
                = check_box_tag "item_#{item.to_param}", item.to_param, false, class: 'bulk-delete-checkbox'
            - @model.admin_attributes.each do |attrib, config|
              - next if config[:no_display]
              %td= admin_value_for(item, attrib)
            %td.button-cell= render partial: 'collection_buttons', locals: { item: item }
