.row.mb-3
  .col-12
    %h1= t('.header', app_name: ENV['APP_NAME'] || 'RLetters')
    %h4.text-muted= t('.subheader', app_name: ENV['APP_NAME'] || 'RLetters')

.row.mb-3
  .col-12.col-lg-6
    = render partial: 'workers'
    = render partial: 'backend', locals: { corpus_size: @corpus_size, ping: @ping, solr_info: @solr_info }

  .col-12.col-lg-6
    = render partial: 'tasks'
    = render partial: 'datasets'
    = render partial: 'users'

.row
  .col-12
    = render partial: 'environment', locals: { vars: @config_vars }
