
.row
  .col-12
    %h1= "#{@model.model_name.human}: #{@item}"

.row.mb-3
  .col-12
    .btn-group{ role: 'group' }
      - unless @model.admin_configuration[:no_edit]
        = link_to admin_edit_item_path(model: params[:model], id: @item.to_param), class: 'btn btn-small btn-secondary' do
          %i.fas.fa-edit
          = t('admin.collection_buttons.edit_button')
      - unless @model.admin_configuration[:no_delete]
        = link_to admin_item_path(model: params[:model], id: @item.to_param), method: :delete, data: { confirm: t('admin.collection_buttons.delete_confirm') }, class: 'btn btn-small btn-secondary' do
          %i.fas.fa-minus-circle
          = t('admin.collection_buttons.delete_button')
      = link_to admin_collection_path(model: params[:model]), class: 'btn btn-small btn-secondary' do
        %i.fas.fa-list
        = t('.to_list_button')

.row
  .col-12
    %table.table.table-striped.table-sm
      %tbody
        - @model.column_names.each do |column|
          %tr
            %th= @model.human_attribute_name(column)
            %td= @item.send(column.to_sym)
