
.row
  .col-sm-12
    %h1= "#{@model.model_name.human.capitalize}: #{@item.to_param}"

.row.pad-bottom
  .col-sm-12
    .btn-group{ role: 'group', aria: { label: t('.actions') } }
      = link_to t('admin.collection_index.delete_button'), admin_item_path(model: params[:model], id: @item.to_param), method: :delete, data: { confirm: t('admin.collection_index.delete_confirm') }, class: 'btn btn-danger'

.row
  .col-sm-12
    %table.table.table-striped.table-condensed
      %tbody
        - @model.column_names.each do |column|
          %tr
            %th= @model.human_attribute_name(column)
            %td= @item.send(column.to_sym)
