
.row
  .col-sm-12
    %h1= "#{@model.model_name.human}: #{@item}"

.row
  .col-sm-12
    .btn-group{ role: 'group' }
      - unless @model.admin_configuration[:no_edit]
        = link_to admin_edit_item_path(model: params[:model], id: @item.to_param), class: 'btn btn-small btn-default' do
          %span.glyphicon.glyphicon-pencil{ aria: { hidden: true } }
          = t('admin.collection_buttons.edit_button')
      - unless @model.admin_configuration[:no_delete]
        = link_to admin_item_path(model: params[:model], id: @item.to_param), method: :delete, data: { confirm: t('admin.collection_buttons.delete_confirm') }, class: 'btn btn-small btn-default' do
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' } }
          = t('admin.collection_buttons.delete_button')
      = link_to admin_collection_path(model: params[:model]), class: 'btn btn-small btn-default' do
        %span.glyphicon.glyphicon-list{ aria: { hidden: true } }
        = t('.to_list_button')

.row.pad-bottom

.row
  .col-sm-12
    %table.table.table-striped.table-condensed
      %tbody
        - @model.column_names.each do |column|
          %tr
            %th= @model.human_attribute_name(column)
            %td= @item.send(column.to_sym)
