- if lookup_context.exists?(task.template_path('results'))
  = link_to t('.view_button'), view_dataset_task_path(task.dataset, task, template: 'results'), class: 'btn btn-sm btn-success'

-# Render a single button for the download if there's only one, or render
-# a dropdown button if there's multiple files
- if task.files.downloadable.count == 1
  = link_to t('.download_button'), download_dataset_task_path(task.dataset, task, file: task.files.downloadable.first.to_param), class: 'btn btn-sm btn-success'
- elsif task.files.downloadable.count > 1
  .btn-group
    = link_to '#', class: 'btn btn-sm btn-success dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
      = t('.download_button')
    .dropdown-menu
      - task.files.downloadable.each do |f|
        = link_to "#{f.description} (#{f.short_description})", download_dataset_task_path(task.dataset, task, file: f.to_param), class: 'dropdown-item'

= link_to t('.delete_button'), dataset_task_path(task.dataset, task), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('.delete_confirm') }
