-# Unfinished (active/failed) tasks
- if dataset.not_finished_tasks.size > 0
  - if dataset.active_tasks.size > 0
    .alert.alert-warning= t('.pending', count: dataset.active_tasks.size)
  - if dataset.failed_tasks.size > 0
    .alert.alert-danger= link_to t('.failed', count: dataset.failed_tasks.size), dataset_path(dataset, clear_failed: true)

-# Finished tasks: link to download results and to delete
%table.table.button-table
  %thead
    %tr
      %th.label-cell= t('.task_column')
      %th.button-cell
  %tbody
    - if dataset.finished_tasks.size == 0
      %tr
        %td.label-cell= t('.no_tasks')
        %td.button-cell
    - else
      - dataset.finished_tasks.each do |task|
        %tr
          %td.label-cell= task.name
          %td.button-cell= render partial: 'task_buttons', locals: { task: task }
