-# Unfinished (active/failed) tasks
- unless @dataset.tasks.not_finished.empty?
  - unless @dataset.tasks.active.empty?
    .alert.alert-warning{ role: 'alert' }= t('.pending', count: @dataset.tasks.active.size)
  - unless @dataset.tasks.failed.empty?
    .alert.alert-danger{ role: 'alert' }= link_to t('.failed', count: @dataset.tasks.failed.size), dataset_path(@dataset, clear_failed: true)

-# Finished tasks: link to download results and to delete
%table.table.button-table.table-striped
  %thead
    %tr
      %th.label-cell= t('.task_column')
      %th.button-cell
  %tbody
    - if @dataset.tasks.finished.empty?
      %tr
        %td.label-cell= t('.no_tasks')
        %td.button-cell
    - else
      - @dataset.tasks.finished.each do |task|
        %tr
          %td.label-cell= task.name
          %td.button-cell= render partial: 'datasets/tasks/task_buttons', locals: { task: task }
