- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li.breadcrumb-item= link_to t('breadcrumbs.datasets_show', name: @dataset.name), @dataset
  %li.breadcrumb-item.active= t('breadcrumbs.datasets_tasks_new')

.row.mb-3
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

= render partial: "jobs/#{@klass.name.underscore}/params", locals: { dataset: @dataset }
