= link_to url_for(category.toggle_search_params(params)), class: 'nav-link' do
  = check_box_tag "category_#{category.to_param}", '1', category.enabled?(params), disabled: true
  = category.name

- if category.has_children?
  %ul= category_addition_tree(category.children)
