- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item.active= t('breadcrumbs.users_passwords_edit')

.row
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

.row
  .col-6
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, novalidate: true, class: 'needs-validation' }) do |f|
      = hidden_field_tag 'user[reset_password_token]', resource.reset_password_token

      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', required: true, autofocus: true
        .invalid-feedback= validation_errors_for(resource, :password, true)
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', required: true
        .invalid-feedback= vlidation_errors_for(resource, :password_confirmation, true)
      = f.submit t('.submit'), class: 'btn btn-primary'
