%h4 Libraries found near you:
%h6.subheader Click the button corresponding to the library that you would like to add.

- if @libraries.empty?
  %p= t('.no_libraries')
- else
  - @libraries.each do |library|
    = form_tag(libraries_path, method: :post) do
      = hidden_field_tag 'library[name]', library[:name]
      = hidden_field_tag 'library[url]', library[:url]
      = submit_tag library[:name], class: 'button small secondary'

%a.close-reveal-modal &#215;
