%h4= t('.header')
%h6.subheader= t('.subheader')

- if @libraries.empty?
  %p= t('.no_libraries')
- else
  - @libraries.each do |library|
    = form_tag(libraries_path, method: :post) do
      = hidden_field_tag 'library[name]', library[:name]
      = hidden_field_tag 'library[url]', library[:url]
      = submit_tag library[:name], class: 'button small secondary'

%a.close-reveal-modal &#215;
