.row
  .col-md-6
    = simple_form_for :job_params, url: dataset_tasks_path(@dataset, class: 'WordFrequencyJob'), method: :post do |f|
      = f.error_notification

      = field_set_tag t('word_frequency_job.options_label') do
        = render file: WordFrequency.Jobview_path(partial: 'compute_word_frequencies'), locals: { f: f }, layout: false, klass: WordFrequencyJob
        = f.button :submit
        = link_to(t('common.cancel'), @dataset, class: 'btn btn-default')
