%h1= t('devise.mailer.reset.intro', name: @resource.name)
%p.lead= t('devise.mailer.reset.instructions')
%p= link_to(t('devise.mailer.reset.link'), edit_user_password_url(@resource, reset_password_token: @resource.reset_password_token))
%p= t('devise.mailer.reset.ignore')
%p= t('devise.mailer.reset.no_change')
