.row
  .large-6.columns
    = simple_form_for :job_params, url: dataset_analysis_tasks_path(@dataset, class: 'ExportCitations'), method: :post do |f|
      = f.error_notification

      = f.input :format, collection: Document.serializers.map { |a| [a[1][:name], a[0]] }
      = f.button :submit
      = link_to(t('common.cancel'), @dataset, class: 'button secondary')
