.row
  .col-md-6
    = simple_form_for :job_params, url: dataset_tasks_path(@dataset, class: 'CollocationJob'), method: :post do |f|
      = f.error_notification

      = field_set_tag t('collocation_job.options_label') do
        = f.input :scoring, label: t('common.scoring.label'), collection: CollocationJob.significance_tests, include_blank: false
        = f.input :num_pairs, as: :integer, label: t('collocation_job.num_pairs'), input_html: { value: 50 }
        = f.input :all, label: t('collocation_job.all'), as: :boolean
        = f.input :focal_word, label: t('collocation_job.focal_word')
        = f.button :submit
        = link_to(t('common.cancel'), @dataset, class: 'btn btn-secondary')
