- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
  %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(params[:class])
  %li.current= link_to t('breadcrumbs.workflow_activate'), workflow_activate_path(params[:class])

%header
  %section
    %h2= t('.header')
    - if @user_datasets.count < @num_datasets
      %h4.subheader= t('.subheader_pending')
    - else
      %h4.subheader= t('.subheader_done')

- if @user_datasets.count < @num_datasets
  .row
    .small-12.columns
      %p= t('.pending_instructions', count: @num_datasets)
- else
  .row
    .large-5.large-centered.columns
      - button_params = { class: params[:class], job_params: { other_datasets: @user_datasets[1..-1] } }
      - if @klass.has_view? '_params'
        = link_to t('.button_params'), new_dataset_analysis_task_path(@user_datasets[0], button_params), class: 'button primary expand'
      - else
        = link_to t('.button_start'), dataset_analysis_tasks_path(@user_datasets[0], button_params), method: :post, class: 'button success expand'

.row
  .small-12.columns
    %hr

    - if @user_datasets.count < @num_datasets
      .alert-box.alert= t('.pending_count', count: (@num_datasets - @user_datasets.count))

    %h3= t('.dataset_list')

    %table.button-table
      %thead
        %tr
          %th.label-cell= t('.name_column')
          %th.button-cell
      %tbody
        - if @user_datasets.empty?
          %tr
            %td.label-cell= t('.no_datasets')
            %td.button-cell
        - else
          - @user_datasets.each do |d|
            %tr
              %td.label-cell
                = d.name
                - if d.fetch
                  %span.icon.fi-upload-cloud.has-tip{ data: { tooltip: true }, title: t('datasets.index_xhr.cloud_tooltip') }
              %td.button-cell= link_to t('.delete_button'), workflow_activate_path(params[:class], unlink_dataset_id: d.to_param), data: { confirm: t('.delete_confirm') }, class: 'button alert tiny'

- if @user_datasets.count < @num_datasets
  .row
    .large-12.columns
      %ul.button-group.even-2
        %li= link_to t('.create_button'), search_path, class: 'button success'
        %li= link_to t('.link_button'), '#', data: { reveal_id: 'link-modal' }, class: 'button secondary'
        #link-modal.reveal-modal{ data: { reveal: true } }
          %h4= t('.link_header')
          %h6.subheader= t('.link_subheader')

          - unless current_user.datasets.active.count
            %p= t('.link_no_datasets')
          - else
            #link-form-modal
              = form_tag workflow_activate_path(params[:class]), method: :get do
                .row
                  .large-6.columns
                    = label_tag :link_dataset_id, Dataset.model_name.human
                    = select_tag :link_dataset_id, options_from_collection_for_select(current_user.datasets.active, 'to_param', 'name')
                .row
                  .large-6.columns= submit_tag t('.link_submit'), class: 'button success small'

          %a.close-reveal-modal &#215;
