- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to t('breadcrumbs.root'), root_path
  %li.breadcrumb-item= link_to t('breadcrumbs.workflow_start'), workflow_start_path
  %li.breadcrumb-item= link_to t('breadcrumbs.workflow_info'), workflow_info_path(params[:class])
  %li.breadcrumb-item.active= t('breadcrumbs.workflow_activate')

.row
  .col-12
    %h1= t('.header')
    - if @num_workflow_datasets < @num_datasets
      %h4.text-muted= t('.subheader_pending')
    - else
      %h4.text-muted= t('.subheader_done')

- if @num_workflow_datasets < @num_datasets
  .row
    .col-12
      %p= t('.pending_instructions', count: @num_datasets)

.row
  .col-12
    %h3= t('.dataset_list')

    - if @num_workflow_datasets < @num_datasets
      .alert.alert-danger{ role: 'alert' }= t('.pending_count', count: (@num_datasets - @num_workflow_datasets))

    %table.table.button-table.table-striped
      %thead
        %tr
          %th.label-cell= t('.name_column')
          %th.button-cell
      %tbody
        - if @num_workflow_datasets.zero?
          %tr
            %td.label-cell= t('.no_datasets')
            %td.button-cell
        - else
          - current_user.workflow_datasets.each do |id|
            - d = Dataset.find(id)
            %tr
              %td.label-cell= d.name
              %td.button-cell= link_to t('.delete_button'), workflow_activate_path(params[:class], unlink_dataset_id: d.to_param), data: { confirm: t('.delete_confirm') }, class: 'btn btn-sm btn-danger'

- if @num_workflow_datasets < @num_datasets
  .row
    .col-12
      .btn-group
        = link_to t('.create_button'), search_path, class: 'btn btn-success'
        = link_to t('.link_button'), '#', data: { toggle: 'modal', target: '#link-modal' }, class: 'btn btn-secondary'
- else
  .row.activate-pad
    .col-12.col-lg-6.offset-lg-3
      - button_params = { class: params[:class], job_params: { other_datasets: current_user.workflow_datasets[1..-1] } }
      - if lookup_context.exists?('params', "jobs/#{params[:class].underscore}", true)
        = link_to t('.button_params'), new_dataset_task_path(current_user.workflow_dataset(0), button_params), class: 'btn btn-primary w-100'
      - else
        = link_to t('.button_start'), dataset_tasks_path(current_user.workflow_dataset(0), button_params), method: :post, class: 'btn btn-success w-100'

-# FIXME: this should probably have the fade class?
.modal#link-modal{ tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h4.modal-title= t('.link_header')
        %h6.text-muted= t('.link_subheader')
        = close_icon(dismiss: 'modal')

      - if current_user.datasets.empty?
        .modal-body
          %p= t('.link_no_datasets')
        .modal-footer
          %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
      - else
        = form_tag workflow_activate_path(params[:class]), method: :get do
          .modal-body
            .row
              .col-6
                .form-group
                  = label_tag :link_dataset_id, Dataset.model_name.human
                  = select_tag :link_dataset_id, options_from_collection_for_select(current_user.datasets, 'to_param', 'name'), class: 'form-control'

          .modal-footer
            = submit_tag t('.link_submit'), class: 'btn btn-success'
            %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
