- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
  %li= link_to t('breadcrumbs.workflow_info'), workflow_info_path(params[:class])
  %li.active= t('breadcrumbs.workflow_activate')

.row
  .col-sm-12
    %h1= t('.header')
    - if @num_workflow_datasets < @num_datasets
      %h4.text-muted= t('.subheader_pending')
    - else
      %h4.text-muted= t('.subheader_done')

- if @num_workflow_datasets < @num_datasets
  .row
    .col-sm-12
      %p= t('.pending_instructions', count: @num_datasets)

.row
  .col-sm-12
    %h3= t('.dataset_list')

    - if @num_workflow_datasets < @num_datasets
      .alert.alert-danger{ role: 'alert' }= t('.pending_count', count: (@num_datasets - @num_workflow_datasets))

    %table.table.button-table
      %thead
        %tr
          %th.label-cell= t('.name_column')
          %th.button-cell
      %tbody
        - if @num_workflow_datasets == 0
          %tr
            %td.label-cell= t('.no_datasets')
            %td.button-cell
        - else
          - current_user.workflow_datasets.each do |id|
            - d = Dataset.find(id)
            %tr
              %td.label-cell
                = d.name
                - if d.fetch
                  %span.cloud-tooltip{ data: { toggle: 'tooltip' }, title: t('datasets.index_xhr.cloud_tooltip') }
                    %span.glyphicon.glyphicon-cloud
              %td.button-cell= link_to t('.delete_button'), workflow_activate_path(params[:class], unlink_dataset_id: d.to_param), data: { confirm: t('.delete_confirm') }, class: 'btn btn-xs btn-danger'

- if @num_workflow_datasets < @num_datasets
  .row
    .col-lg-12
      .btn-group
        = link_to t('.create_button'), search_path, class: 'btn btn-success'
        = link_to t('.link_button'), '#', data: { toggle: 'modal', target: '#link-modal' }, class: 'btn btn-default'
- else
  .row.activate-pad
    .col-xs-12.col-lg-6.col-lg-offset-3
      .btn-group.btn-group-justified
        - button_params = { class: params[:class], job_params: { other_datasets: current_user.workflow_datasets[1..-1] } }
        - if lookup_context.exists?('params', "jobs/#{params[:class].underscore}", true)
          = link_to t('.button_params'), new_dataset_task_path(current_user.workflow_dataset(0), button_params), class: 'btn btn-primary'
        - else
          = link_to t('.button_start'), dataset_tasks_path(current_user.workflow_dataset(0), button_params), method: :post, class: 'btn btn-success'

  - if @klass.benchmarks.size > 0
    .row.activate-pad
      .col-xs-12.col-lg-6.col-lg-offset-3
        %h4= t('.benchmark_header')

        %table.table.table-striped
          %thead
            %tr
              %th= t('.benchmark_size_column')
              %th= t('.benchmark_time_column')
          %tbody
            - @klass.benchmarks.each do |b|
              %tr
                %td= b.size
                %td= distance_of_time_in_words(b.time)

.modal.fade#link-modal{ tabindex: '-1', role: 'dialog', aria: { hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        = render partial: 'bootstrap/close_icon', locals: { data: { dismiss: 'modal' } }

        %h4.modal-title= t('.link_header')
        %h6.text-muted= t('.link_subheader')

      - if current_user.datasets.empty?
        .modal-body
          %p= t('.link_no_datasets')
      - else
        = form_tag workflow_activate_path(params[:class]), method: :get do
          .modal-body
            .row
              .col-sm-6
                = label_tag :link_dataset_id, Dataset.model_name.human
                = select_tag :link_dataset_id, options_from_collection_for_select(current_user.datasets, 'to_param', 'name'), class: 'form-control'

          .modal-footer
            = submit_tag t('.link_submit'), class: 'btn btn-success'
