.row
  .small-12.columns
    %h4= t('.pending_header')
    - if @pending_tasks.empty?
      %p= t('.no_pending')
    - else
      %table.button-table
        %thead
          %tr
            %th.label-cell= t('datasets.analysis_tasks.index.task_column')
            %th.label-cell= Dataset.model_name.human
            %th.label-cell= t('.progress')
        %tbody
          - @pending_tasks.each do |t|
            %tr
              %td.label-cell= t.name
              %td.label-cell= t.dataset.name
              %td.label-cell= t.status_message || t('.no_status')

      .panel
        %p= t_md('.pending_cancel_markdown', terminate_url: workflow_fetch_path(terminate: 'true'), email: Admin::Setting.app_email)

.row
  .small-12.columns
    %h4= t('.completed_header')
    - if @finished_tasks.empty?
      %p= t('.no_completed')
    - else
      %table.button-table
        %thead
          %tr
            %th.label-cell= t('datasets.analysis_tasks.index.task_column')
            %th.label-cell= Dataset.model_name.human
            %th.button-cell= t('datasets.analysis_tasks.index.results_column')
        %tbody
          - @finished_tasks.each do |t|
            %tr
              %td.label-cell= t.name
              %td.label-cell= t.dataset.name
              %td.button-cell
                - if t.job_class.download?
                  = link_to t('datasets.analysis_tasks.index.download_button'), dataset_analysis_task_path(t.dataset, t), class: 'button success tiny'
                - else
                  = link_to t('datasets.analysis_tasks.index.view_button'), dataset_analysis_task_path(t.dataset, t, view: 'results'), class: 'button success tiny'
                = link_to t('datasets.analysis_tasks.index.delete_button'), dataset_analysis_task_path(t.dataset, t), method: :delete, class: 'button alert tiny'
