.row
  .col-sm-12
    %h4= t('.pending_header')
    - if pending_tasks.empty?
      %p= t('.no_pending')
    - else
      %table.table.button-table
        %thead
          %tr
            %th.label-cell= t('datasets.tasks.index.task_column')
            %th.label-cell= Dataset.model_name.human
            %th.label-cell= t('.progress')
        %tbody
          - pending_tasks.each do |t|
            %tr
              %td.label-cell= t.name
              %td.label-cell= t.dataset.name
              %td.label-cell= t.status_message || t('.no_status')

      .well
        %p= t_md('.pending_cancel_markdown', terminate_url: workflow_fetch_path(terminate: 'true'), email: ENV['APP_EMAIL'])

.row
  .col-sm-12
    %h4= t('.completed_header')
    - if finished_tasks.empty? && failed_tasks.empty?
      %p= t('.no_completed')
    - else
      %table.table.button-table
        %thead
          %tr
            %th.label-cell= t('datasets.tasks.index.task_column')
            %th.label-cell= Dataset.model_name.human
            %th.label-cell= t('.finished_column')
            %th.button-cell= t('datasets.tasks.index.results_column')
        %tbody
          - (finished_tasks + failed_tasks).each do |t|
            %tr
              %td.label-cell= t.name
              %td.label-cell= t.dataset.name
              %td.label-cell= t.failed ? t('common.progress_generic_fail') : l(t.finished_at, format: :short)
              - if t.failed
                %td.button-cell= link_to t('datasets.index_xhr.delete_button'), dataset_task_path(t.dataset, t), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t('datasets.index_xhr.delete_confirm') }
              - else
                %td.button-cell= render partial: 'datasets/tasks/task_buttons', locals: { task: t }
