.row
  #markdown-landing.col-sm-8.col-sm-offset-2= Admin::MarkdownPage.render('landing')

.row
  #landing-login.col-sm-4.col-sm-offset-4
    .btn-group.btn-group-justified
      = link_to t('.sign_up_button'), new_user_registration_path, class: 'btn btn-primary btn-lg'

.row
  .col-sm-6.col-sm-offset-3
    #screenshot-carousel.carousel.slide{ data: { ride: 'carousel' } }
      %ol.carousel-indicators
        %li.active{ data: { "target" => '#screenshot-carousel', "slide-to" => "0" }}
        %li{ data: { "target" => '#screenshot-carousel', "slide-to" => "1" }}
        %li{ data: { "target" => '#screenshot-carousel', "slide-to" => "2" }}

      .carousel-inner
        .item.active
          %img{ src: Admin::UploadedAsset.url_for('screenshot-one') }
          .carousel-caption= Admin::MarkdownPage.render('caption-one')
        .item
          %img{ src: Admin::UploadedAsset.url_for('screenshot-two') }
          .carousel-caption= Admin::MarkdownPage.render('caption-two')
        .item
          %img{ src: Admin::UploadedAsset.url_for('screenshot-three') }
          .carousel-caption= Admin::MarkdownPage.render('caption-three')

      = link_to '#screenshot-carousel', class: 'left carousel-control', role: 'button', data: { slide: 'prev' } do
        %span.glyphicon.glyphicon-chevron-left
      = link_to '#screenshot-carousel', class: 'right carousel-control', role: 'button', data: { slide: 'next' } do
        %span.glyphicon.glyphicon-chevron-right
