- content_for :breadcrumbs do
  %li.current= link_to t('breadcrumbs.root'), root_path

#markdown-landing= Admin::MarkdownPage.render('landing')

.row
  .small-5.small-centered.columns
    = link_to t('.sign_up_button'), new_user_registration_path, id: 'landing-login'

.row
  .small-6.small-centered.columns
    %h3

    .slideshow-wrapper
      .preloader
      %ul#screenshots{ 'data-orbit' => true }
        %li{ 'data-orbit-slide' => 'screenshot-1' }
          %img{ src: Admin::UploadedAsset.url_for('screenshot-one') }
          .orbit-caption= Admin::MarkdownPage.render('caption-one')
        %li{ 'data-orbit-slide' => 'screenshot-2' }
          %img{ src: Admin::UploadedAsset.url_for('screenshot-two') }
          .orbit-caption= Admin::MarkdownPage.render('caption-two')
        %li{ 'data-orbit-slide' => 'screenshot-3' }
          %img{ src: Admin::UploadedAsset.url_for('screenshot-three') }
          .orbit-caption= Admin::MarkdownPage.render('caption-three')
