.row
  .col-8.offset-2#markdown-landing= Admin::Snippet.render('landing')

.row
  .col-4.offset-4#landing-login
    = link_to t('.sign_up_button'), new_user_registration_path, class: 'btn btn-primary btn-lg w-100'

- if Admin::Asset.usable?('screenshot-one') && Admin::Asset.usable?('screenshot-two') && Admin::Asset.usable?('screenshot-three')
  .row
    .col-6.offset-3
      .carousel.slide#screenshot-carousel{ data: { ride: 'carousel' } }
        %ol.carousel-indicators
          %li.active{ data: { target: '#screenshot-carousel', 'slide-to': '0' } }
          %li{ data: { target: '#screenshot-carousel', 'slide-to': '1' } }
          %li{ data: { target: '#screenshot-carousel', 'slide-to': '2' } }

        .carousel-inner
          .carousel-item.active
            %img.d-block.w-100{ src: url_for(Admin::Asset.find_by(name: 'screenshot-one').file) }
            .carousel-caption.d-none.d-md-block= Admin::Snippet.render('caption-one')
          .carousel-item
            %img.d-block.w-100{ src: url_for(Admin::Asset.find_by(name: 'screenshot-two').file) }
            .carousel-caption.d-none.d-md-block= Admin::Snippet.render('caption-two')
          .carousel-item
            %img.d-block.w-100{ src: url_for(Admin::Asset.find_by(name: 'screenshot-three').file) }
            .carousel-caption.d-none.d-md-block= Admin::Snippet.render('caption-three')

        %a.carousel-control-prev{ href: '#screenshot-carousel', role: 'button', data: { slide: 'prev' } }
          %span.carousel-control-prev-icon{ aria: { hidden: 'true' } }
          %span.sr-only Previous
        %a.carousel-control-next{ href: '#screenshot-carousel', role: 'button', data: { slide: 'next' } }
          %span.carousel-control-next-icon{ aria: { hidden: 'true' } }
          %span.sr-only Next
