- content_for :breadcrumbs do
  %li= link_to 'Home', workflow_path
  %li= link_to 'Start Analysis', workflow_start_path
  %li.current= link_to "Job Info", workflow_info_path(params[:class])

.row
  #markdown-info.small-12.columns= render_job_partial(@klass, 'info')

.row
  .large-6.large-offset-6.columns
    %ul.button-group.even-2
      %li= link_to 'Back', workflow_start_path, class: 'button secondary'
      %li= link_to 'Start', workflow_activate_path(params[:class]), class: 'button success'
