- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.active= t('breadcrumbs.workflow_start')

.row
  .col-sm-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

- ApplicationJob.job_list.each do |klass|
  - next unless klass.available?
  .row.questions
    .col-sm-12
      .btn-group.btn-group-justified
        = link_to simple_format(klass.t('.question'), {}, wrapper_tag: 'span'), workflow_info_path(klass.name.to_s), class: 'btn btn-default'
