- content_for :javascript, javascript_include_tag('normalize_document_counts')

.row
  .large-6.columns
    = simple_form_for :job_params, url: dataset_analysis_tasks_path(@dataset, class: 'ArticleDates'), method: :post do |f|
      = f.error_notification

      = render file: Jobs::Analysis::ArticleDates.view_path(partial: 'normalize_document_counts'), locals: { f: f }, klass: Jobs::Analysis::ArticleDates, layout: false
      = f.button :submit
      = link_to(t('common.cancel'), @dataset, class: 'button secondary')
