- data = JSON.load(@task.result.file_contents(:original))
- dates = data['data']
- percent = data['percent']

.row
  .col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}

    - if percent
      %h4.text-muted= t('jobs.analysis.article_dates.fraction_subheader', name: @dataset.name, normalization_set: data['normalization_set'])
    - else
      %h4.text-muted= t('jobs.analysis.article_dates.number_subheader')

  .col-md-4.job-header-button
    = link_to t('common.download_csv'), dataset_analysis_task_path(@dataset, @task, view: 'download', format: 'csv'), class: 'btn btn-default'

.row
  .col-xs-12
    %hr

    .article_dates_data= dates.to_json
    .article_dates_percent= percent ? 'true' : 'false'

    .article_dates_graph

    %hr

    .article_dates_table
