- data = JSON.load(@task.result.file_contents(:original))

.row
  .col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}

    - if data['percent']
      %h4.text-muted= t('jobs.analysis.article_dates.fraction_subheader', name: @dataset.name, normalization_set: data['normalization_set'])
    - else
      %h4.text-muted= t('jobs.analysis.article_dates.number_subheader')

  .col-md-4.job-header-button
    = link_to t('common.download_csv'), dataset_task_path(@dataset, @task, view: 'download', format: 'csv'), class: 'btn btn-default'

.row
  .col-xs-12
    %hr

    %script{ type: 'text/javascript' }
      == window.json_data = '#{@json_escaped}';
    .article_dates_graph

    %hr

    .article_dates_table
