
.row.mb-3
  .col-12
    %h1= t('.header')
    %h4.text-muted= t('.subheader')

.row.mb-2
  .col-12
    = link_to new_stop_list_path, class: 'btn btn-secondary float-right ajax-modal' do
      %i.fas.fa-plus
      = t('.add')

.row
  .col-12
    %table.table
      %thead
        %td= Documents::StopList.human_attribute_name(:language)
        %td= Documents::StopList.human_attribute_name(:list)
        %td
      %tbody
        - Documents::StopList.all.order(:language).each do |list|
          %tr
            %td= list.language
            %td= list.list
            %td
              = link_to edit_stop_list_path(list), title: t('.edit'), class: 'ajax-modal' do
                %i.fas.fa-edit.text-secondary
              = link_to stop_list_path(list), method: :delete, data: { confirm: t('.delete_confirm') }, title: t('.delete') do
                %i.fas.fa-minus-circle.text-danger
