%h1= t('.header')
%h4.text-muted= t('.subheader')

.row
  .col-6
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: true, class: 'needs-validation' }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', required: true, autofocus: true
        .invalid-feedback= validation_errors_for(resource, :email, true)
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', required: true
        .invalid-feedback= validation_errors_for(resource, :password, true)
      .form-group
        .form-check
          = f.check_box :remember_me, class: 'form-check-input'
          = f.label :remember_me, class: 'form-check-label'

      .float-right= f.submit t('.submit'), class: 'btn btn-primary'
