.row
  .col-md-6
    = simple_form_for :job_params, url: dataset_analysis_tasks_path(@dataset, class: 'TermDates'), method: :post do |f|
      = f.error_notification

      = field_set_tag t('jobs.analysis.term_dates.options_label') do
        = f.input :term, label: I18n.t('jobs.analysis.term_dates.word')
        = f.button :submit
        = link_to(t('common.cancel'), @dataset, class: 'btn btn-default')
