- data = JSON.load(@task.result.file_contents(:original))
- dates = data['data']

.row
  .col-md-8
    %h1== #{Dataset.model_name.human}: #{@dataset.name}
    %h4.text-muted= t('jobs.analysis.term_dates.subheader', term: data['term'])

  .col-md-4.job-header-button
    = link_to t('common.download_csv'), dataset_analysis_task_path(@dataset, @task, view: 'download', format: 'csv'), class: 'btn btn-default'

.row
  .col-xs-12
    %hr

    .term_dates_data= dates.to_json

    .term_dates_graph

    %hr

    .term_dates_table
