- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li= link_to t('breadcrumbs.datasets_show', name: @dataset.name), @dataset
  %li.active= t('breadcrumbs.datasets_analysis_tasks_new')

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

= render file: @klass.view_path(partial: 'params'), klass: @klass, layout: false
