- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li= link_to t('breadcrumbs.datasets_index'), datasets_path
  %li= link_to t('breadcrumbs.datasets_show', name: @dataset.name), @dataset
  %li.current= link_to t('breadcrumbs.datasets_analysis_tasks_datasets'), new_dataset_analysis_task_path(@dataset, params[:class])

%header
  %section
    %h2= t('.header')
    %h4.subheader= t('.subheader')

.row
  .large-6.columns
    = simple_form_for :job_params, url: @form_url, method: @form_method do |f|
      = f.error_notification

      - (@klass.num_datasets - 1).times do |n|
        -# Have to use the custom tag helper here, rather than the simple_form
        -# method, because otherwise the array bits don't work right, and I
        -# cannot for the life of me figure out how to get them to instantiate.
        = label_tag 'job_params[other_datasets][]', "#{(n + 1).ordinalize} #{Dataset.model_name.human}"
        = select_tag 'job_params[other_datasets][]', options_from_collection_for_select(current_user.datasets.active.where.not(id: @dataset.id), 'to_param', 'name')

      = f.button :submit
      = link_to t('.cancel'), @dataset, class: 'button secondary'
