.row
  .col-md-6
    = simple_form_for :job_params, url: dataset_tasks_path(@dataset, class: 'CooccurrenceJob'), method: :post do |f|
      = f.error_notification

      = field_set_tag t('cooccurrence_job.options_label') do
        = f.input :scoring, label: t('common.scoring.label'), collection: CooccurrenceJob.significance_tests, include_blank: false
        = f.input :num_pairs, as: :integer, label: t('cooccurrence_job.num_pairs'), input_html: { value: 50 }
        = f.input :all, label: t('cooccurrence_job.all'), as: :boolean
        = f.input :window, as: :integer, required: true, label: t('cooccurrence_job.window')
        = f.input :words, required: true, label: t('cooccurrence_job.words')
        = f.input :stemming, label: t('common.stemming.label'), collection: [[t('simple_form.no'), :no], [t('common.stemming.stem'), :stem], [t('common.stemming.lemma'), :lemma]], include_blank: false

      = f.button :submit
      = link_to(t('common.cancel'), @dataset, class: 'btn btn-secondary')
