= form_for(category, url: url, method: method, html: { novalidate: true, class: 'needs-validation' }) do |f|
  .modal-body
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control', required: true, autofocus: true
      .invalid-feedback= validation_errors_for(category, :name, true)

    .form-group#category-checkboxes
      = f.label :journals
      - @journals.each_with_index do |j, i|
        .form-check
          = check_box_tag 'documents_category[journals][]', j, i.zero?, id: "documents_category_journal-check-#{i}", class: 'form-check-input'
          = f.label "journal-check-#{i}", j, class: 'form-check-label'
          .invalid-feedback= t('.checkboxes_empty')

  .modal-footer
    %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
    = f.submit class: 'btn btn-primary'
