%li.dd-item.category-item{ data: { id: category.to_param } }
  .dd-handle.category-handle
    %i.icon.fas.fa-bars.fa-lg
    .sr-only Drag
  .category-content
    = category.name
    .float-right
      = link_to category_path(category), title: t('.info'), class: 'ajax-modal' do
        %i.fas.fa-info-circle.text-info
      = link_to edit_category_path(category), title: t('.edit'), class: 'ajax-modal' do
        %i.fas.fa-edit.text-secondary
      = link_to category_path(category), method: :delete, data: { confirm: t('.delete_confirm') }, title: t('.delete') do
        %i.fas.fa-minus-circle.text-danger

  - if category.has_children?
    %ol.dd-list
      - category.children.each do |c|
        = render partial: 'node', locals: { category: c }
