= f.input :word_method, label: t('jobs.concerns.compute_word_frequencies.word_method'), collection: [[:count, t('jobs.concerns.compute_word_frequencies.most_frequent')], [:list, t('jobs.concerns.compute_word_frequencies.list')]], value_method: :first, label_method: :last, include_blank: false
#num_words_controls
  = f.input :num_words, as: :integer, label: t('jobs.concerns.compute_word_frequencies.num_words'), required: false, input_html: { value: 100 }
  = f.input :exclude_method, label: t('jobs.concerns.compute_word_frequencies.exclude_method'), collection: [[:none, t('jobs.concerns.compute_word_frequencies.none')], [:common, t('jobs.concerns.compute_word_frequencies.stop')], [:list, t('jobs.concerns.compute_word_frequencies.list')]], value_method: :first, label_method: :last, include_blank: false, required: false
#exclude_common_controls{ style: 'display: none;' }
  = f.input :stop_list, label: t('jobs.concerns.compute_word_frequencies.stop_language'), collection: StopList.all.sort_by { |l| l.language }, value_method: :language, label_method: :display_language, include_blank: false, selected: 'en'
#exclude_list_controls{ style: 'display: none;' }
  = f.input :exclusion_list, label: t('jobs.concerns.compute_word_frequencies.exclusion_list'), as: :text, required: false
#inclusion_list_controls{ style: 'display: none;' }
  = f.input :inclusion_list, label: t('jobs.concerns.compute_word_frequencies.inclusion_list'), as: :text, required: false
= f.input :block_method, label: t('jobs.concerns.compute_word_frequencies.block_method'), collection: [[:count, t('jobs.concerns.compute_word_frequencies.num_words')], [:blocks, t('jobs.concerns.compute_word_frequencies.num_blocks')]], value_method: :first, label_method: :last, include_blank: false
#count_controls
  = f.input :block_size, label: t('jobs.concerns.compute_word_frequencies.block_size'), as: :integer, required: false, input_html: { value: 250 }
  = f.input :last_block, label: t('jobs.concerns.compute_word_frequencies.last_block'), collection: [[:big_last, t('jobs.concerns.compute_word_frequencies.big_last')], [:small_last, t('jobs.concerns.compute_word_frequencies.small_last')], [:truncate_last, t('jobs.concerns.compute_word_frequencies.truncate_last')], [:truncate_all, t('jobs.concerns.compute_word_frequencies.truncate_all')]], value_method: :first, label_method: :last, include_blank: false, required: false
#blocks_controls{ style: 'display: none;' }
  = f.input :num_blocks, label: t('jobs.concerns.compute_word_frequencies.num_blocks_label'), as: :integer, required: false, input_html: { value: '10' }
= f.input :split_across, label: t('jobs.concerns.compute_word_frequencies.split_across'), as: :boolean, required: false, input_html: { checked: true }
