= f.input :word_method, label: 'Word selection method', collection: [[:count, 'Most frequent words'], [:list, 'Explicit list of words']], value_method: :first, label_method: :last, include_blank: false
#num_words_controls
  = f.input :num_words, as: :integer, label: 'Number of words to analyze', required: false, input_html: { value: 100 }
  = f.input :exclude_method, label: 'Exclude any words?', collection: [[:none, 'No'], [:common, 'Most common words (stop words)'], [:list, 'Exclude explicit list of words']], value_method: :first, label_method: :last, include_blank: false, required: false
#exclude_common_controls{ style: 'display: none;' }
  = f.input :stop_list, label: 'Language of text', collection: StopList.all.sort_by { |l| l.language }, value_method: :language, label_method: :display_language, include_blank: false, selected: 'en'
#exclude_list_controls{ style: 'display: none;' }
  = f.input :exclusion_list, label: 'Words to exclude (space-separated)', as: :text, required: false
#inclusion_list_controls{ style: 'display: none;' }
  = f.input :inclusion_list, label: 'Words to include (space-separated)', as: :text, required: false
= f.input :block_method, label: 'Text block method', collection: [[:count, 'By number of words'], [:blocks, 'By number of blocks']], value_method: :first, label_method: :last, include_blank: false
#count_controls
  = f.input :block_size, label: 'Number of words per block', as: :integer, required: false, input_html: { value: 250 }
  = f.input :last_block, label: 'Last block method', collection: [[:big_last, 'Big last block'], [:small_last, 'Small last block'], [:truncate_last, 'Truncate leftover words'], [:truncate_all, 'Truncate every document to given size']], value_method: :first, label_method: :last, include_blank: false, required: false
#blocks_controls{ style: 'display: none;' }
  = f.input :num_blocks, label: 'Number of blocks', as: :integer, required: false, input_html: { value: '10' }
= f.input :split_across, label: 'Split blocks across documents?', as: :boolean, required: false, input_html: { checked: true }
