- content_for :breadcrumbs do
  %li= link_to 'Home', workflow_path
  %li.current= link_to 'Change Password', edit_user_password_path

%header
  %section
    %h3 Change your password
    %h5.subheader Enter a new password here, and we'll replace the one that you forgot.

.row
  .large-6.columns
    = simple_form_for(:user, url: user_password_path, method: :put) do |f|
      = f.hidden_field :reset_password_token

      = f.input :password
      = f.input :password_confirmation
      = f.button :submit, 'Change password'
