
%header
  %section
    %h3 Forgot your password?
    %h5.subheader Enter your e-mail address here and we'll send you a link to create a new one.

.row
  .large-6.columns
    = form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f|
      .row
        .small-12.columns= devise_error_messages!

      .row
        .small-12.columns
          = f.label :email
          = f.email_field :email
      .row
        .small-12.columns= f.submit "Send me reset password instructions", class: 'button primary'
