- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.current= link_to t('breadcrumbs.users_passwords_new'), new_user_password_path

%header
  %section
    %h3= t('.header')
    %h5.subheader= t('.subheader')

.row
  .large-6.columns
    = simple_form_for(resource, as: resource_name, url: user_password_path) do |f|
      = f.error_notification

      = f.input :email, required: true, autofocus: true
      = f.button :submit, t('.submit')
