- content_for :breadcrumbs do
  %li= link_to 'Home', workflow_path
  %li.current= link_to 'Request Password E-mail', new_user_password_path

%header
  %section
    %h3 Forgot your password?
    %h5.subheader Enter your e-mail address here and we'll send you a link to create a new one.

.row
  .large-6.columns
    = simple_form_for(:user, url: user_password_path, method: :post) do |f|
      = f.input :email
      = f.button :submit, 'Send me password reset instructions'
