- content_for :javascript, javascript_include_tag('https://www.google.com/jsapi')
- content_for :javascript, javascript_include_tag('plot_dates')

- data = JSON.load(@task.result.file_contents(:original))
- dates = data['data']
- percent = data['percent']

.row
  .large-8.columns
    %h2== #{Dataset.model_name.human}: #{@dataset.name}

    - if percent
      %h4.subheader= t('jobs.analysis.plot_dates.fraction_subheader', name: @dataset.name, normalization_set: data['normalization_set'])
    - else
      %h4.subheader= t('jobs.analysis.plot_dates.number_subheader')

  .large-4.columns.job-header-button
    = link_to t('common.download_csv'), dataset_analysis_task_path(@dataset, @task, view: 'download', format: 'csv'), class: 'button secondary expand'

.row
  .small-12.columns
    %hr

    .plot_dates_data= dates.to_json
    .plot_dates_percent= percent ? 'true' : 'false'

    .plot_dates_graph

    %hr

    .plot_dates_table
