- content_for :javascript do
  = javascript_include_tag 'https://www.google.com/jsapi'
  = javascript_include_tag 'plot_dates'

- data = JSON.load(@task.result.file_contents(:original))
- dates = data['data']
- percent = data['percent']

.row
  .large-8.columns
    %h2== #{Dataset.model_name.human}: #{@dataset.name}

    - if percent
      %h4.subheader== Percentage of documents in #{data['normalization_set']} found in the #{@dataset.name} dataset, plotted by year
    - else
      %h4.subheader Number of documents, plotted by year

  .large-4.columns.job-header-button
    = link_to 'Download in CSV format', { controller: 'datasets', action: 'task_view', id: @dataset.to_param, task_id: @task.to_param, view: 'download', format: 'csv' }, class: 'button secondary expand'

.row
  .small-12.columns
    %hr

    .plot_dates_data= dates.to_json
    .plot_dates_percent= percent ? 'true' : 'false'

    .plot_dates_graph

    %hr

    .plot_dates_table
