= form_for(@snippet, url: url, method: method, html: { novalidate: true, class: 'needs-validation' }) do |f|
  .modal-body
    .form-group
      = f.label :name
      = f.select :name, options_for_select(@snippet_list), {}, class: 'form-control'
      .invalid-feedback= validation_errors_for(@snippet, :name, true)
    .form-group
      = f.label :language
      = f.select :language, options_for_select(I18n.available_locales.translated, @snippet.language), {}, class: 'form-control'
      .invalid-feedback= validation_errors_for(@snippet, :language, true)

    .form-group
      = f.label :content
      = f.text_area :content, class: 'form-control', required: true, size: '50x15'

  .modal-footer
    %button.btn.btn-secondary{ data: { dismiss: 'modal' } }= t('common.cancel')
    = f.submit class: 'btn btn-primary'
