.row
  .col-12.col-md-6
    = form_for :job_params, url: dataset_tasks_path(@dataset, class: 'WordFrequencyJob'), method: :post do |f|
      .card.card-body.mb-3
        %h5.card-title= t('word_frequency_job.options_label')

        .form-group
          = f.label :ngram_method, t('compute_word_frequencies.ngram_method')
          = f.select :ngram_method, options_for_select([[t('compute_word_frequencies.single_words'), :single], [t('compute_word_frequencies.n_grams'), :ngrams]]), { include_blank: false }, class: 'form-control'

        .sub-form#ngram_controls{ style: 'display: none' }
          .form-group
            = f.label :ngrams, t('compute_word_frequencies.ngram_size')
            = f.number_field :ngrams, class: 'form-control', value: '2', min: 2, max: 20, disabled: true
          .form-group
            = f.label :num_words, t('compute_word_frequencies.num_ngrams')
            = f.number_field :num_words, class: 'form-control', value: '100', disabled: true
          .form-group
            .form-check
              = f.check_box :all, class: 'form-check-input', disabled: true
              = f.label :all, t('compute_word_frequencies.all_ngrams'), class: 'form-check-label'
          .form-group
            = f.label :inclusion_list, t('compute_word_frequencies.ngram_inclusion_list')
            = f.text_field :inclusion_list, class: 'form-control', disabled: true

        .sub-form
          .form-group#single_controls
            = f.label :word_method, t('compute_word_frequencies.word_method')
            = f.select :word_method, options_for_select([[t('compute_word_frequencies.most_frequent'), :count], [t('compute_word_frequencies.all'), :all], [t('compute_word_frequencies.list'), :list]]), { include_blank: false }, class: 'form-control'

          .form-group.sub-form#num_words_controls
            = f.label :num_words, t('compute_word_frequencies.num_words')
            = f.number_field :num_words, class: 'form-control', value: '100'

          .form-group.sub-form#inclusion_list_controls{ style: 'display: none;' }
            = f.label :inclusion_list, t('compute_word_frequencies.inclusion_list')
            = f.text_field :inclusion_list, class: 'form-control', disabled: true

        .form-group#exclusion_controls
          = f.label :exclude_method, t('compute_word_frequencies.exclude_method')
          = f.select :exclude_method, options_for_select([[t('compute_word_frequencies.none'), :none], [t('compute_word_frequencies.stop'), :common], [t('compute_word_frequencies.list'), :list]]), { include_blank: false }, class: 'form-control'

        .form-group.sub-form#exclude_common_controls{ style: 'display: none;' }
          = f.label :stop_list, t('compute_word_frequencies.stop_language')
          = f.collection_select :stop_list, Documents::StopList.all.sort_by { |l| l.language }, :language, :display_language, { include_blank: false, selected: 'en' }, class: 'form-control', disabled: true

        .form-group.sub-form#exclude_list_controls{ style: 'display: none;' }
          = f.label :exclusion_list, t('compute_word_frequencies.exclusion_list')
          = f.text_field :exclusion_list, class: 'form-control', disabled: true

        .form-group.sub-form#exclude_list_ngram_controls{ style: 'display: none;' }
          = f.label :exclusion_list, t('compute_word_frequencies.ngram_exclusion_list')
          = f.text_field :exclusion_list, class: 'form-control', disabled: true

        .form-group
          = f.label :stemming, t('common.stemming.label')
          = f.select :stemming, options_for_select([[t('simple_form.no'), :no], [t('common.stemming.stem'), :stem], [t('common.stemming.lemma'), :lemma]]), { include_blank: false }, class: 'form-control'

        .form-group
          = f.label :block_method, t('compute_word_frequencies.block_method')
          = f.select :block_method, options_for_select([[t('compute_word_frequencies.num_words_split'), :count], [t('compute_word_frequencies.num_blocks_split'), :blocks]]), { include_blank: false }, class: 'form-control'

        #count_controls.sub-form
          .form-group
            = f.label :block_size, t('compute_word_frequencies.block_size')
            = f.number_field :block_size, class: 'form-control', value: '250'
          .form-group
            = f.label :last_block, t('compute_word_frequencies.last_block')
            = f.select :last_block, options_for_select([[t('compute_word_frequencies.big_last'), :big_last], [t('compute_word_frequencies.small_last'), :small_last], [t('compute_word_frequencies.truncate_last'), :truncate_last], [t('compute_word_frequencies.truncate_all'), :truncate_all]]), { include_blank: false }, class: 'form-control'

        .form-group.sub-form#blocks_controls{ style: 'display: none;' }
          = f.label :num_blocks, t('compute_word_frequencies.num_blocks_label')
          = f.number_field :num_blocks, class: 'form-control', value: '10', disabled: true

        .form-group
          .form-check
            = f.check_box :split_across, class: 'form-check-input', checked: true
            = f.label :split_across, t('compute_word_frequencies.split_across'), class: 'form-check-label'

        = render partial: 'jobs/word_cloud/params', locals: { f: f }

      .float-right
        = link_to(t('common.cancel'), @dataset, class: 'btn btn-secondary')
        = f.submit class: 'btn btn-primary'
