
%h1 RLetters
%h4.subheader Perform complex textual analyses on the content of the biology journal literature

.row
  .small-6.columns
    .panel.radius
      - if current_user.nil?
        %h5 Welcome!
        %ul
          %li= link_to t('.tutorial_text', app_name: Setting.app_name), info_tutorial_path
          %li= link_to t('.login_text'), new_user_session_path
          %li= link_to t('.search_text'), search_path
      - else
        %h5 Welcome back!
        %ul
          %li= link_to t('.search_text'), search_path
          %li= link_to t('.datasets_text'), datasets_path
          %li= link_to t('.account_text', app_name: Setting.app_name), edit_user_registration_path
          %li= link_to t('.tutorial_text', app_name: Setting.app_name), info_tutorial_path
          %li= link_to t('.faq_text', app_name: Setting.app_name), info_faq_path
  .small-6.columns
    .panel.radius
      %h5 Database Information
      %ul
        %li= t('.dbsize', count: @database_size)
        %li= t('.all_datasets', count: Dataset.count)
