.navbar.navbar-default.navbar-static-top.navbar-inverse{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#main-nav-collapse' }}
        %span.sr-only Toggle navigation

        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('admin.index.header', app_name: ENV['APP_NAME']), admin_path, class: 'navbar-brand'

    .collapse.navbar-collapse#main-nav-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
            = t('admin.nav.accounts')
            %span.caret
          %ul.dropdown-menu
            %li= link_to User.model_name.human(count: 100), admin_collection_path(model: 'user')
            %li= link_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe + Users::Library.model_name.human(count: 100), admin_collection_path(model: 'users/library')
            %li.dropdown-divider{ role: 'separator' }
            %li= link_to Admin::Administrator.model_name.human(count: 100), admin_collection_path(model: 'admin/administrator')

        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
            = t('admin.nav.content')
            %span.caret
          %ul.dropdown-menu
            %li= link_to Dataset.model_name.human(count: 100), admin_collection_path(model: 'dataset')
            %li= link_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe + Datasets::Query.model_name.human(count: 100), admin_collection_path(model: 'datasets/query')
            %li= link_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe + Datasets::Task.model_name.human(count: 100), admin_collection_path(model: 'datasets/task')
            %li.dropdown-divider{ role: 'separator' }
            %li= link_to Documents::Category.model_name.human(count: 100), admin_collection_path(model: 'documents/category')
            %li.dropdown-divider{ role: 'separator' }
            %li= link_to Documents::StopList.model_name.human(count: 100), admin_collection_path(model: 'documents/stop_list')
            %li= link_to Users::CslStyle.model_name.human(count: 100), admin_collection_path(model: 'users/csl_style')

        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
            = t('admin.nav.branding')
            %span.caret
          %ul.dropdown-menu
            %li= link_to Admin::MarkdownPage.model_name.human(count: 100), admin_collection_path(model: 'admin/markdown_page')
            %li= link_to Admin::UploadedAsset.model_name.human(count: 100), admin_collection_path(model: 'admin/uploaded_asset')

      %ul.nav.navbar-nav.navbar-right
        - if administrator_signed_in?
          %li= link_to t('layouts.nav.sign_out'), destroy_administrator_session_path, method: :delete
        - else
          %li= link_to t('layouts.nav.sign_in'), new_administrator_session_path
