.row.footer.text-muted.small
  .col-12
    %hr

    %nav.nav.nav-pills.nav-justified
      = link_to t('breadcrumbs.root'), root_path, class: 'nav-item nav-link'
      = link_to t('breadcrumbs.workflow_start'), workflow_start_path, class: 'nav-item nav-link'
      = link_to t('breadcrumbs.search_index'), search_path, class: 'nav-item nav-link'
      = link_to t('breadcrumbs.datasets_index'), datasets_path, class: 'nav-item nav-link'
      = link_to t('breadcrumbs.users_registrations_edit'), edit_user_registration_path, class: 'nav-item nav-link'
      = link_to t('breadcrumbs.users_registrations_new'), new_user_registration_path, class: 'nav-item nav-link'
      = link_to t('layouts.nav.help'), 'http://rletters.net/help', class: 'nav-item nav-link'

    = render partial: 'layouts/copyright'
