.row.footer.text-muted.small
  .col-xs-12
    %hr

    %ul.nav.nav-pills.nav-justified
      %li= link_to t('breadcrumbs.root'), root_path
      %li= link_to t('breadcrumbs.workflow_start'), workflow_start_path
      %li= link_to t('breadcrumbs.search_index'), search_path
      %li= link_to t('breadcrumbs.datasets_index'), datasets_path
      %li= link_to t('breadcrumbs.users_registrations_edit'), edit_user_registration_path
      %li= link_to t('breadcrumbs.users_registrations_new'), new_user_registration_path
      %li= link_to t('layouts.nav.help'), 'http://rletters.net/help'

    %p= t('layouts.footer.copyright', app_name: Admin::Setting.app_name)
    = t_md('layouts.footer.rletters_markdown')
