%head
  %meta{ charset: 'utf-8' }/

  %title= Setting.app_name

  = stylesheet_link_tag 'application'
  = javascript_include_tag 'https://www.google.com/jsapi'
  = javascript_include_tag 'application'
  = javascript_include_tag 'vendor/custom.modernizr'
  = csrf_meta_tags

  -# Mobile optimized meta tags for various browsers
  %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }/

  -# Home screen icons (Retina iPhone, iPad, all others/Android)
  %link{ href: UploadedAsset.url_for('apple-touch-icon-high'), rel: "apple-touch-icon-precomposed", sizes: "114x114" }/
  %link{ href: UploadedAsset.url_for('apple-touch-icon-med'), rel: "apple-touch-icon-precomposed", sizes: "72x72" }/
  %link{ href: UploadedAsset.url_for('apple-touch-icon-low'), rel: "apple-touch-icon-precomposed" }/
  %link{ href: UploadedAsset.url_for('favicon'), rel: "shortcut icon" }/

  -# Load Google analytics (if enabled)
  - unless Setting.google_analytics_key.blank?
    = render partial: 'layouts/google'

  = content_for :head_tags
