%head
  %meta{ charset: 'utf-8' }/
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }/
  %meta{ name: 'viewport', content: "width=device-width, initial-scale=1" }/

  %title= Admin::Setting.app_name

  = stylesheet_link_tag 'application'
  = csrf_meta_tags

  -# Home screen icons (Retina iPhone, iPad, all others/Android)
  %link{ href: Admin::UploadedAsset.url_for('apple-touch-icon-high'), rel: "apple-touch-icon-precomposed", sizes: "114x114" }/
  %link{ href: Admin::UploadedAsset.url_for('apple-touch-icon-med'), rel: "apple-touch-icon-precomposed", sizes: "72x72" }/
  %link{ href: Admin::UploadedAsset.url_for('apple-touch-icon-low'), rel: "apple-touch-icon-precomposed" }/
  %link{ href: Admin::UploadedAsset.url_for('favicon'), rel: "shortcut icon" }/

  -# Load Google analytics (if enabled)
  - if Admin::Setting.google_analytics_key.present?
    = render partial: 'layouts/google'

  -# Load some IE secret sauce JS
  /[if lt IE 9]
    %script{ src: 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' }/
    %script{ src: 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' }/

  -# Set the current locale
  :javascript
    I18n = {}
    I18n.defaultLocale = '#{I18n.default_locale}';
    I18n.locale = '#{I18n.locale}';
    I18n.fallbacks = true;

  = javascript_include_tag 'application'
  = yield(:javascript) if content_for?(:javascript)

  = content_for :head_tags

  -# Load some extra styles and JS for testing
  - if Rails.env.test?
    = render partial: 'layouts/test'
