%head
  %meta{ charset: 'utf-8' }/
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }/
  %meta{ name: 'viewport', content: "width=device-width, initial-scale=1" }/

  %title= ENV['APP_NAME']

  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'

  -# Home screen icons (Retina iPhone, iPad, all others/Android)
  - if Admin::UploadedAsset.exists?(name: 'apple-touch-icon-high')
    %link{ href: url_for(Admin::UploadedAsset.find_by(name: 'apple-touch-icon-high').file), rel: "apple-touch-icon-precomposed", sizes: "114x114" }/
  - if Admin::UploadedAsset.exists?(name: 'apple-touch-icon-med')
    %link{ href: url_for(Admin::UploadedAsset.find_by(name: 'apple-touch-icon-med').file), rel: "apple-touch-icon-precomposed", sizes: "72x72" }/
  - if Admin::UploadedAsset.exists?(name: 'apple-touch-icon-low')
    %link{ href: url_for(Admin::UploadedAsset.find_by(name: 'apple-touch-icon-low').file), rel: "apple-touch-icon-precomposed" }/
  - if Admin::UploadedAsset.exists?(name: 'favicon')
    %link{ href: url_for(Admin::UploadedAsset.find_by(name: 'favicon').file), rel: "shortcut icon" }/

  -# Load Google Analytics (if enabled)
  - if ENV['GOOGLE_ANALYTICS_KEY'].present?
    = render partial: 'layouts/google'

  -# Load the Google loader
  -# FIXME: ?key=GOOGLE_API_KEY
  = javascript_include_tag('https://www.google.com/jsapi')

  -# Reference the unAPI server, if we need to
  - if params[:controller] == 'search'
    %link{ rel: 'unapi-server', type: 'application/xml', title: 'unAPI', href: unapi_url }/
