%nav.top-bar
  %ul.title-area
    %li.name
      %h1= link_to Setting.app_name, root_path
    %li.toggle-topbar.menu-icon
      %a{ href: '#' }
        %span Menu

  %section.top-bar-section
    %ul.left
      %li.divider
      %li{ class: (params[:controller] == 'workflow' && params[:action] == 'start') ? 'active' : nil }= link_to 'New Analysis', workflow_start_path
      %li{ class: (params[:controller] == 'datasets') ? 'active' : nil }= link_to 'Fetch Results', datasets_path
      %li.has-dropdown
        = link_to 'Advanced Tools', '#'

        %ul.dropdown
          %li= link_to 'Browse / Search Database', search_path
          %li= link_to 'Manage Datasets', datasets_path

      - if current_user && current_user.workflow_active
        %li.has-form= link_to 'Current Analysis', workflow_activate_path(current_user.workflow_class), class: 'button success'
        %li.has-form= link_to 'Abort Building Analysis', workflow_destroy_path, class: 'button alert', data: { confirm: 'Are you sure?  The analysis now under construction will be lost!' }

    %ul.right
      %li= link_to 'Help', 'http://rletters.net/help'
      %li.divider.hide-for-small
      - if current_user
        %li{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to 'My Account', edit_user_registration_path
        %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %li#login-button{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to 'Log In', '#', 'data-dropdown' => 'login-dropdown'

- unless current_user
  = render partial: 'layouts/log_in'
