%nav.top-bar{ data: { topbar: true } }
  %ul.title-area
    %li.name
      %h1= link_to Admin::Setting.app_name, root_path
    %li.toggle-topbar.menu-icon
      %a{ href: true }
        %span= t('layouts.nav.menu')

  %section.top-bar-section
    %ul.left
      %li.divider
      %li{ class: (params[:controller] == 'workflow' && params[:action] == 'start') ? 'active' : nil }= link_to t('layouts.nav.new_analysis'), workflow_start_path
      %li{ class: (params[:controller] == 'workflow' && params[:action] == 'fetch') ? 'active' : nil }= link_to t('layouts.nav.fetch_results'), workflow_fetch_path
      %li.has-dropdown
        = link_to t('layouts.nav.advanced'), '#'

        %ul.dropdown
          %li= link_to t('layouts.nav.browse'), search_path
          %li= link_to t('layouts.nav.manage'), datasets_path

      - if user_signed_in? && current_user.workflow_active
        %li.has-form= link_to t('layouts.nav.current'), workflow_activate_path(current_user.workflow_class), class: 'button success'
        %li.has-form= link_to t('layouts.nav.abort'), workflow_destroy_path, class: 'button alert', data: { confirm: t('layouts.nav.abort_warning') }

    %ul.right
      %li= link_to t('layouts.nav.help'), 'http://rletters.net/help'
      %li.divider.hide-for-small
      - if user_signed_in?
        %li{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to t('layouts.nav.account'), edit_user_registration_path
        %li= link_to t('layouts.nav.sign_out'), destroy_user_session_path, method: :delete
      - else
        %li#login-button{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to t('layouts.nav.sign_in'), '#', 'data-dropdown' => 'login-dropdown'

- unless user_signed_in?
  = render partial: 'layouts/sign_in'
