= form_for(:user, url: user_session_path, html: { id: 'sign-in-form', class: 'needs-validation px-4 pt-3 pb-1', novalidate: true }) do |f|
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email), required: true
    .invalid-feedback= validation_errors_for(:user, :email, true)
  .form-group
    = f.label :password, class: 'sr-only'
    = f.password_field :password, class: 'form-control', placeholder: User.human_attribute_name(:password), required: true
    .invalid-feedback= validation_errors_for(:user, :password, true)
  .form-group
    .form-check
      = f.check_box :remember_me, class: 'form-check-input'
      = f.label :remember_me, class: 'form-check-label'

  = f.submit t('layouts.sign_in.sign_in'), class: 'btn btn-primary'

.dropdown-divider
= link_to t('layouts.sign_in.forgot_password'), new_user_password_path, class: 'dropdown-item small'
= link_to t('layouts.sign_in.sign_up'), new_user_registration_path, class: 'dropdown-item small'
