!!! 5
%html{ lang: I18n.locale }
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/admin_nav'

    .container.main.mt-3
      - if content_for? :breadcrumbs
        %nav{ aria: { label: 'breadcrumb' } }
          %ol.breadcrumb= yield(:breadcrumbs)
      = render partial: 'layouts/flashes'

      .row
        .col-12
          = content_for?(:content) ? yield(:content) : yield

      .row.footer.text-muted.small
        .col-12
          %hr
          = render partial: 'layouts/copyright'

    #modal-container
