!!! 5
%html{ lang: I18n.locale }
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/nav'

    .container.main.mt-3
      - if content_for? :breadcrumbs
        %nav{ aria: { label: 'breadcrumb' } }
          %ol.breadcrumb= yield(:breadcrumbs)
      = render partial: 'layouts/flashes'

      = content_for?(:content) ? yield(:content) : yield

      = render partial: 'layouts/footer'
      = render partial: 'layouts/cookies'

    #modal-container
