!!! 5
%html{ lang: I18n.locale }
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/nav'

    %div
      - flash.each do |k, v|
        = render_flash(k, v)

      = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'
    - if content_for? :javascript
      = content_for :javascript
