!!! 5
%html{ lang: I18n.locale }
  = render partial: 'layouts/head'
  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1= link_to Setting.app_name, root_path
        %li.toggle-topbar.menu-icon
          %a{ href: '#' }
            %span Menu

      %section.top-bar-section
        %ul.left
          %li.divider
          %li{ class: (params[:controller] == 'info') ? 'active' : nil }= link_to 'Home', root_path
          %li{ class: (params[:controller] == 'search') ? 'active' : nil }= link_to 'Search', search_path
          %li{ class: (params[:controller] == 'datasets') ? 'active' : nil }= link_to 'Datasets', datasets_path

        %ul.right
          %li.divider.hide-for-small
          %li= link_to 'Help', 'http://rletters.net/help'
          - if current_user
            %li{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to 'My Account', edit_user_registration_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li{ class: (params[:controller] == 'users') ? 'active' : nil }= link_to 'Log In', new_user_session_path

    %div
      - flash.each do |k, v|
        = render_flash(k, v)

      = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'
    - if content_for? :javascript
      = content_for :javascript
