!!! 5
%html{ lang: I18n.locale }
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/nav'

    %div
      - if content_for? :breadcrumbs
        %ul.breadcrumbs= yield(:breadcrumbs)
      = render_flash

      = content_for?(:content) ? yield(:content) : yield

      = render partial: 'layouts/footer'

    = javascript_include_tag 'application'
    - if content_for? :javascript
      = content_for :javascript
