- content_for :javascript do
  = javascript_include_tag 'users_edit'
- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.current= link_to t('breadcrumbs.users_registrations_edit'), edit_user_registration_path

%header
  %section
    %h3= t('.header')
    %h5.subheader= t('.subheader')

.row
  .large-6.columns
    = simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
      = f.error_notification

      = f.input :name, autofocus: true
      = f.input :email
      = f.input :current_password, required: true

      = field_set_tag t('.change_password') do
        = f.input :password, autocomplete: 'off', hint: t('.password_placeholder'), required: false
        = f.input :password_confirmation, required: false

      = field_set_tag t('.settings') do
        = f.input :language, collection: I18n.available_locales.translated
        = f.input :timezone, collection: ActiveSupport::TimeZone.all, label_method: :to_s, value_method: :name
        = f.input :per_page, as: :radio_buttons, collection: [10, 25, 50, 100]
        = f.input :csl_style_id, collection: Users::CslStyle.all, label_method: :name, value_method: :to_param

      = f.button :submit, t('.submit')
      %br
      = link_to t('.cancel'), registration_path(resource_name), data: { confirm: t('.cancel_confirm') }, method: :delete, class: 'button alert'

.row
  .small-12.columns
    %hr

    %h3= t('.library_links_header')
    %h5.subheader= t('.library_links_subheader')

    %div#library-list{ data: { fetch_url: libraries_path } }
      .preloader
