- content_for :javascript do
  = javascript_include_tag 'users_edit'

%header
  %section
    %h3 User options
    %h5.subheader You can configure your user settings here, change your password, or delete your account.

.row
  .large-6.columns
    = simple_form_for(current_user, url: user_registration_path, method: :put) do |f|
      = f.input :name
      = f.input :email
      = f.input :current_password

      = field_set_tag 'Change your password?' do
        = f.input :password, placeholder: '(leave blank for no change)'
        = f.input :password_confirmation

      = field_set_tag 'Site settings' do
        = f.input :language, collection: available_locales, label_method: :last, value_method: :first
        = f.input :timezone, collection: ActiveSupport::TimeZone.all, label_method: :to_s, value_method: :name
        = f.input :per_page, as: :radio_buttons, collection: [10, 25, 50, 100]
        = f.input :csl_style_id, collection: CslStyle.all, label_method: :name, value_method: :to_param

      = f.button :submit
      %br
      = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button alert'

.row
  .small-12.columns
    %hr

    %h3= t('.library_links')
    %h5.subheader You can add links to your local library's document retrieval system, which you can later use to obtain access to content.

    %div#library-list{ data: { fetch_url: libraries_path } }= t('.loading_libraries')
