%header
  %section
    %h3 Sign up
    %h5.subheader Welcome!  Enter some information about yourself and we'll get you off and running with a new user account.

.row
  .large-6.columns
    = simple_form_for(:user, url: user_registration_path) do |f|
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.collection :language, collection: available_locales, label_method: :last, value_method: :first
      = f.collection :timezone, collection: ActiveSupport::TimeZone.all, label_method: :to_s, value_method: :name
      = f.button :submit
