- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.active= t('breadcrumbs.users_registrations_new')

%header
  %section
    %h3= t('.header')
    %h5.subheader= t('.subheader')

.row
  .large-6.columns
    = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
      = f.error_notification

      = f.input :name
      = f.input :email
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.input :language, collection: I18n.available_locales.translated
      = f.input :timezone, collection: ActiveSupport::TimeZone.all, label_method: :to_s, value_method: :name
      = f.button :submit, t('.submit')
