- content_for :breadcrumbs do
  %li= link_to t('breadcrumbs.root'), root_path
  %li.current= link_to t('breadcrumbs.users_registrations_new'), new_user_registration_path

%header
  %section
    %h3= t('.header')
    %h5.subheader= t('.subheader')

.row
  .large-6.columns
    = simple_form_for(:user, url: user_registration_path) do |f|
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :language, collection: available_locales, label_method: :last, value_method: :first
      = f.input :timezone, collection: ActiveSupport::TimeZone.all, label_method: :to_s, value_method: :name
      = f.button :submit
