%h1 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  %div{ data: { role: 'fieldcontain' } }
    = f.label :name
    = f.text_field :name

  %div{ data: { role: 'fieldcontain' } }
    = f.label :email
    = f.email_field :email

  %div{ data: { role: 'fieldcontain' } }
    = f.label :password
    = f.password_field :password

  %div{ data: { role: 'fieldcontain' } }
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %div{ data: { role: 'fieldcontain' } }
    = f.label :language, User.human_attribute_name('language')
    = f.select :language, options_from_locales(@user.language)

  %div{ data: { role: 'fieldcontain' } }
    = f.label :timezone, User.human_attribute_name('timezone')
    = f.select :timezone, options_from_timezones(@user.timezone)

  = f.submit "Sign up"

= render "users/shared/links"
